/*Defaults*/
@import "default/fonts";
@import "default/variables";
@import "default/mixins";
//@import "default/media-queries";
@import "default/normalize";
@import "tools/bootstrap";
@import "tools/mf_popup";
//@import "tools/foundation";
@import "tools/twentytwenty";
//@import "tools/twentytwenty-no-compass";

/*
Design
*/

//@import "default/admin";
@import "design/animation";
@import "design/design";
@import "design/header";
@import "design/footer";
@import "design/navicons";
@import "design/menu";
@import "design/menu-saf";
@import "design/form";
@import "design/formstyler";
@import "default/common";
@import "design/content";
@import "design/animation";

/*
Modules
*/

@import "modules/partners";
@import "modules/services";
@import "modules/gallery";
@import "modules/video";
@import "modules/actions";
@import "modules/articles";
@import "modules/works";
@import "modules/blog";
@import "modules/interviews";
@import "modules/about";
@import "modules/reviews";
@import "modules/news";
@import "modules/useful";
@import "modules/prices";
@import "modules/consultations";
@import "modules/contacts";
@import "modules/faq";
@import "modules/advantages";
@import "modules/slider";
@import "modules/paging";
@import "modules/search";
@import "modules/mistake";

@media print {
  @import "design/printversion";
  .printBtn {
    display: none !important;
  }
}

.sliderTop.contacts {
  @media (min-width: 992px) {

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 60px;
      height: 25px;
      width: 19px;
      margin-left: -10px;
      background: url(/img/arraw-bottom.png) 50% 50% no-repeat;
    }
  }
}

.slide-youtube {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/img/svg/youtube-play.svg) 50% 50% no-repeat;
    z-index: 2;
    background-size: 30px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }
}
.works__item .js-slider-nav .slide.slide-youtube.slick-current a,
.works__item .js-slider-nav .slide.slide-youtube.slick-current span {
  border-color: #E82C00;
}

.gallery__item-youtube {
  .gallery__item-youtube-link {
    display: block;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(/img/svg/youtube-play.svg) 50% 50% no-repeat;
      z-index: 2;
      background-size: 120px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      z-index: 1;
    }
  }
}