.consultation {
	&.container {
		margin: 80px auto;
		position: relative;
		@include breakpoint(tablet-windows) {
			margin: 130px auto;
		}
		@include breakpoint(tablet-small-portrait1) {					
			margin: 50px auto;
		}
		h2,.h2 {
			margin-top: 0;
			margin: 0 0 35px;
			@include breakpoint(tablet-small-portrait) {
			margin: 0 0 20px;
		}
		}
	}
	.text {
		@include breakpoint(tablet-small-portrait) {
			margin: 0 0 30px;
		}
	}
	.form {
		.formField {
			margin:0 0 10px;
		}
		button,.btn {
			width: 100%;
		}
	}
}

.before-text {
	@include font(14,26);
	color:$color_grey;
}
.consult-form {
	margin:35px 0 0;
	
	.formField {
		button,.btn {
			width: 100%;
		}
		.right {
			margin-top:10px;
			text-align:right;
			@include font(10,12);
			color:$color_grey;
		}
		.link {
			color:$color_h;
			text-decoration:underline;
			cursor:pointer;
			&:hover {
				color:$color_link;
				text-decoration:none;
			}
		}
	}
	+.line {
		margin-bottom:0;
	}
}
.tags {
	margin-top:30px;
	margin-bottom:30px;
	a {
		text-decoration:none!important;
		color:$color_h;
		@include font(16,28);
		display:inline-block;
		margin:0 3px 0px 0;
		&:hover {
			color:$color_link;
		}
	}
}
.consult {
	margin-top:70px;
	@include breakpoint(tablet-portrait) {
		margin-top:50px;
	}
	@include breakpoint(tablet-small-portrait) {
		margin-top:40px;
	}
	.consultList {
		margin-top: 45px;
		@include breakpoint(tablet-portrait) {
			margin-top:30px;
		}
		&__item {
			&.slide {
				margin: 0;
			}
		}
	}
	+.line {
		margin-bottom: 0;
	}
}
.consultList {
	>.title-preview {
		padding-left: 0;
		&:before {
			display: none;
		}
	}
	.sliderConsult {
		margin: 0 -5px;
		padding-bottom: 40px;
		@include box-sizing(border-box);			
		.slide {
			padding: 0 5px;
			border:none;
			//width: auto!important;
			img {
			}
		}
		.slick-prev {
			left: 235px;
			top: -50px;
			bottom: auto;
			@include breakpoint(tablet-small-portrait) {
				top: -37px;
			}
			@include breakpoint(phone-landscape) {
				left: auto;
				right: 75px;
			}
		}
		.slick-next {
			left: 302px;
			top: -50px;
			bottom: auto;
			@include breakpoint(tablet-small-portrait) {
				top: -37px;
			}
			@include breakpoint(phone-landscape) {
				left: auto;
				right: 5px;
			}
		}
	}
	&__item {
		padding:35px 0 0;
		margin-bottom:35px;
		border-top:1px solid #e5e5e5;
		&:first-child {
			border:none;
			padding-top:0;
		}
		.title-preview {
			margin-bottom:25px;
			color:$color_link;
			a {			
				text-decoration:none!important;
				color:$color_link!important;
					&:hover {
						text-decoration:none;
						color:$color_link_hover!important;
					}
			}
			span {
				display:inline-block;
				margin:0 5px;
			}
		}
	.question {
		padding-left:98px;
		position:relative;
		@include font(16,28);
		color:$color_h;
		min-height:40px;
		@include breakpoint(tablet-portrait) {
			padding-left:66px;
		}
		@include breakpoint(tablet-small-portrait) {
			padding-left:50px;
		}
		p {
			margin: 0 0 5px;
		}
			.ico-faq {
				width:40px;
				height:40px;
				//background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23dcbe84' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' cx='20' cy='20' r='18.84'/%3E%3Crect x='0.375' y='0.375' fill='none' width='39.25' height='39.25'/%3E%3Cg%3E%3Cpath fill='%23dcbe84' d='M18.849,24.244v-1.153c0-1.127,0.253-1.717,0.843-2.535l1.888-2.59c0.983-1.352,1.321-1.999,1.321-2.956 c0-1.605-1.125-2.619-2.731-2.619c-1.576,0-2.59,0.957-2.928,2.675c-0.028,0.168-0.14,0.253-0.31,0.225l-1.773-0.31 c-0.169-0.028-0.253-0.141-0.227-0.311c0.424-2.702,2.367-4.476,5.295-4.476c3.04,0,5.094,1.999,5.094,4.786 c0,1.352-0.477,2.337-1.436,3.661L22,21.231c-0.562,0.761-0.73,1.154-0.73,2.109v0.901c0,0.17-0.114,0.281-0.282,0.281H19.13 C18.96,24.527,18.849,24.413,18.849,24.244z M18.708,26.948c0-0.168,0.112-0.281,0.282-0.281h2.14c0.168,0,0.28,0.113,0.28,0.281 v2.42c0,0.171-0.113,0.282-0.28,0.282h-2.14c-0.17,0-0.282-0.111-0.282-0.282V26.948z'/%3E%3C/g%3E%3C/svg%3E");
				background-repeat:no-repeat;
				position:absolute;
				left:0;
				top:7px;
				@include breakpoint(tablet-small-portrait) {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23dcbe84' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' cx='20' cy='20' r='18.84'/%3E%3Crect x='0.375' y='0.375' fill='none' width='39.25' height='39.25'/%3E%3Cg%3E%3Cpath fill='%23dcbe84' d='M18.849,24.244v-1.153c0-1.127,0.253-1.717,0.843-2.535l1.888-2.59c0.983-1.352,1.321-1.999,1.321-2.956 c0-1.605-1.125-2.619-2.731-2.619c-1.576,0-2.59,0.957-2.928,2.675c-0.028,0.168-0.14,0.253-0.31,0.225l-1.773-0.31 c-0.169-0.028-0.253-0.141-0.227-0.311c0.424-2.702,2.367-4.476,5.295-4.476c3.04,0,5.094,1.999,5.094,4.786 c0,1.352-0.477,2.337-1.436,3.661L22,21.231c-0.562,0.761-0.73,1.154-0.73,2.109v0.901c0,0.17-0.114,0.281-0.282,0.281H19.13 C18.96,24.527,18.849,24.413,18.849,24.244z M18.708,26.948c0-0.168,0.112-0.281,0.282-0.281h2.14c0.168,0,0.28,0.113,0.28,0.281 v2.42c0,0.171-0.113,0.282-0.28,0.282h-2.14c-0.17,0-0.282-0.111-0.282-0.282V26.948z'/%3E%3C/g%3E%3C/svg%3E");
					background-size:30px auto;
				}
				&:before {
					@include twins;
					left:0;
					top:0;
					width:40px;
					height:40px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23dcbe84' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' cx='20' cy='20' r='18.84'/%3E%3Crect x='0.375' y='0.375' fill='none' width='39.25' height='39.25'/%3E%3Cg%3E%3Cpath fill='%23dcbe84' d='M18.849,24.244v-1.153c0-1.127,0.253-1.717,0.843-2.535l1.888-2.59c0.983-1.352,1.321-1.999,1.321-2.956 c0-1.605-1.125-2.619-2.731-2.619c-1.576,0-2.59,0.957-2.928,2.675c-0.028,0.168-0.14,0.253-0.31,0.225l-1.773-0.31 c-0.169-0.028-0.253-0.141-0.227-0.311c0.424-2.702,2.367-4.476,5.295-4.476c3.04,0,5.094,1.999,5.094,4.786 c0,1.352-0.477,2.337-1.436,3.661L22,21.231c-0.562,0.761-0.73,1.154-0.73,2.109v0.901c0,0.17-0.114,0.281-0.282,0.281H19.13 C18.96,24.527,18.849,24.413,18.849,24.244z M18.708,26.948c0-0.168,0.112-0.281,0.282-0.281h2.14c0.168,0,0.28,0.113,0.28,0.281 v2.42c0,0.171-0.113,0.282-0.28,0.282h-2.14c-0.17,0-0.282-0.111-0.282-0.282V26.948z'/%3E%3C/g%3E%3C/svg%3E");
					background-repeat:no-repeat;
					@include transition(all .25s ease);
					@include breakpoint(tablet-small-portrait) {
						display:none;
					}
				}
				&:after {
					@include twins;
					left:0;
					top:0;
					width:40px;
					height:40px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23b39253' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' cx='20' cy='20' r='18.84'/%3E%3Crect x='0.375' y='0.375' fill='none' width='39.25' height='39.25'/%3E%3Cg%3E%3Cpath fill='%23b39253' d='M18.849,24.244v-1.153c0-1.127,0.253-1.717,0.843-2.535l1.888-2.59c0.983-1.352,1.321-1.999,1.321-2.956 c0-1.605-1.125-2.619-2.731-2.619c-1.576,0-2.59,0.957-2.928,2.675c-0.028,0.168-0.14,0.253-0.31,0.225l-1.773-0.31 c-0.169-0.028-0.253-0.141-0.227-0.311c0.424-2.702,2.367-4.476,5.295-4.476c3.04,0,5.094,1.999,5.094,4.786 c0,1.352-0.477,2.337-1.436,3.661L22,21.231c-0.562,0.761-0.73,1.154-0.73,2.109v0.901c0,0.17-0.114,0.281-0.282,0.281H19.13 C18.96,24.527,18.849,24.413,18.849,24.244z M18.708,26.948c0-0.168,0.112-0.281,0.282-0.281h2.14c0.168,0,0.28,0.113,0.28,0.281 v2.42c0,0.171-0.113,0.282-0.28,0.282h-2.14c-0.17,0-0.282-0.111-0.282-0.282V26.948z'/%3E%3C/g%3E%3C/svg%3E");
					background-repeat:no-repeat;
					@include opacity(0);
					@include transition(all .25s ease);
					@include breakpoint(tablet-small-portrait) {
						display:none;
					}
				}
			}
			&:hover {
				a.ico-faq {
					&:before {
						@include opacity(0);
					}
					&:after {@include opacity(1);}
				}
			}
	}
	.consult-tags {
		color:$color_grey;
		padding-left:98px;
		margin-top:30px;
		@include breakpoint(tablet-portrait) {
			padding-left:66px;
		}
		@include breakpoint(tablet-small-portrait) {
			padding-left:50px;
		}
		span {
			display:inline-block;
			margin:0 5px 0 0;
		}

		a {
			display:inline-block;
			margin:0 3px 0 0;
			color:$color_h;
			text-decoration:none!important;
			&:hover {
				text-decoration:none;
				color:$color_link;
			}
		}
	}
	.answer {
		padding-left:98px;
		padding-right:195px;
		position:relative;
		@include font(16,28);
		color:$color_grey;
		font-style:italic;
		margin:30px 0 0;
		min-height:130px;
		@include breakpoint(tablet-portrait) {
			padding-left:66px;
		}
		@include breakpoint(tablet-small-portrait) {
			padding-left:50px;
			padding-right:0;
			overflow:hidden;
		}
		p {
			margin: 0 0 5px;
		}
			&:before {
				@include twins;
				font-family: "Georgia";
				font-size: 76px;
				line-height: 64px;
				font-style:normal;
				left: 0px;
				top: 7px;
				color:$color_h;
				content: "\201c";
			}
			.author {
				position:absolute;
				width:165px;
				right:0;
				top:7px;
				text-align:center;
				@include breakpoint(tablet-small-portrait) {
					position:relative;
					margin-top:10px;
					top:auto;
					right:auto;
				}
					.image {
						width:128px;
						margin:0 auto 10px;
							img {
								display:block;
								border-radius:50%;
							}
					}
					.title {
						@include font(14,20);
						color:$color_grey;
							span {
								display:block;
								color:$color_h;
							}
							a {
								color:$color_grey;
								text-decoration:none!important;
								span {
									color:$color_h;
								}
								&:hover {
									text-decoration:none;
									color:$color_link;
								}
							}
							&:hover {
								a {
									color:$color_link;
								}
							}
					}
			}
		}
	}
	}