.content {
	
}
.examples-works {
	margin: 50px auto;
	@include breakpoint(tablet-windows) {
		margin: 70px auto;
	}
	&.photo-gallery {
		margin-bottom: 60px;
		.photo-gallery__item {
			margin-bottom: 30px;
			a {
				height: auto!important;
				&:before,&:after {
					display: none;
				}
				img{
					display: block;
					//filter: blur(8px);
				}
				&.eighteen__item {
					&:before {
						@include twins;
						display: block!important;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: #1F1F1F;
						@include transition(all .25s ease);
						@include opacity(.7);
						z-index: 1;
					}
					&:after {
						@include twins;
						display: block!important;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: $color_blue_light;
						@include opacity(0);
						@include transition(all .25s ease);
					}
					.eighteen__title {
						position: absolute;
						width: 95px;
						height: 95px;
						background: #fff;
						@include display-flex;
						@include align-items(center);
						@include justify-content(center);
						@include font(36,36,600);
						color:$color_blue_light;
						z-index: 2;
						top: calc(50% - 47px);
						left: calc(50% - 47px);
						border-radius: 50%;
					}
					&:hover {
						&:before {
							@include opacity(0);
						}
						&:after {
							@include opacity(.7);
						}
					}
				 }
			}
		}
		.center {
			margin-top: 10px;
		}
	}

	&.fright {
		float: right;
		margin: -20px 0 30px 30px;
		padding: 0;
		width: 360px;
		position: relative;
		z-index: 2;
		@include breakpoint(tablet-small-portrait1) {
			@include display-flex;
			@include flex-wrap(wrap);			
			//@include order(1);
			margin: 40px 0;
			width: 100%;
			float: none;
		}
		.examples-works__item {
			width: 350px;
			display: block;
			margin: 0 auto;
			padding: 0;
			@include breakpoint(phone-landscape) {
				width: 340px;
			}
			@include breakpoint(phone-landscape1) {
				width: 300px;
			}
		}

	}
	
	&.photos {
		margin-top: 0;
		.center {
			margin: 10px 0 0;
			@include breakpoint(phone-landscape) {
				margin: 0;
			}
		}
		.menu {
			margin-top: 40px;
		}
		.box {
			.goto {
				margin-top: -65px;
				@include breakpoint(tablet-portrait) {	
					margin: -60px 0 0 15px;
				}
				@include breakpoint(phone-landscape) {
					float: none;
					margin: 0 0 30px;
					text-align: right;
				}
			}
		}
		.photo-gallery__item {
			a {
				height: auto;
			}
		}
	}
	h3,.title,.h3 {
		margin-top: 0;
		@include font(18,20,400);
		margin: 0 0 10px;
		@include breakpoint(phone-landscape) {	
			text-align: center;
		}
	}
	&__item {
		padding: 0 15px;
		.counter {
			display: none;
		}
	}
	.js-slider-examples {
		.slide {
			position: relative;
			padding: 0;
			//width:100%!important;
			.twentytwenty-wrapper {
				@include breakpoint(tablet-portrait) {	
					width: 350px !important;
					margin: 0 auto;
				}
				@include breakpoint(phone-landscape) {	
					width: 340px !important;
					margin: 0 auto;
				}
				@include breakpoint(phone-landscape1) {	
					width: 300px !important;
					margin: 0 auto;
				}
			}
		}
	}
	.center {
		margin: 40px 0 0;
		@include breakpoint(phone-landscape) {
			margin: 10px 0 0;
		}
		.btn {
			margin: 0 7px;
			@include breakpoint(phone-landscape) {
				display: block;
				width: 100%;
				margin: 14px 0;
			}
		}
	}
	&.photo-gallery {
		
		&__item {
			margin: 0 0 30px;
			a {
				&:before,&:after { display: none;}
			}
			img {			
				display: block;
			}
		}
	}
}
