.news {
	&.container {
		margin: 80px auto;
		position: relative;
		@include breakpoint(tablet-windows) {
			margin: 130px auto;
		}
		@include breakpoint(tablet-small-portrait1) {					
			margin: 50px auto;
		}
	}
	&__text {
		float: right;
		padding: 80px 15px 205px;
		@include breakpoint(tablet-small-portrait) {
			padding: 0 15px;
			margin: 0 0 30px;
		}
	}
	&__slider {
		position: relative;
		&__container {
			right: 15px;
			position: absolute;
			top:0;
			width: calc(50vw + 200px);
			@include breakpoint(tablet-windows) {
				width: calc(50vw + 100px);
			}
			@include breakpoint(tablet-portrait) {
				width: calc(50vw + 300px);
			}
			@include breakpoint(tablet-small-portrait) {
				width: 100%;
				position: relative;
				left: auto;
				top: auto;
				right: auto;
				@include transform (translate(0,0));
			}
		}
		.newsSlider {
			overflow: hidden;
			margin: 0 -5px;
			padding-bottom: 40px;
			@include box-sizing(border-box);
				.slide {
					padding: 0 5px;
				}
				.slick-prev {
					right: 75px;
					left: auto;
				}
				.slick-next {
					right: 5px;
					left: auto;
				}
		}
		
	}
	&__item {
		height: 424px;
		display: block;
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: #fff;
		text-decoration: none;
		overflow: hidden;
		&:before {
			height: 50%;
			left:0;
			right: 0;
			bottom: 0;
			z-index: 1;
			@include simple-gradient(to top, $color_blue, 0%, transparent, 100%);
			@include twins;
			@include opacity(.8);
		}
		/*&:after {
			top: 0;
			left:0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background: $color_blue;
			@include twins;
			@include opacity(0);
			@include transition(all .3s ease);
			@include breakpoint(phone-landscape) {
				display: none;
			}
		}*/
		&:after {
			@include twins;
			height: 1px;
			width: 100px;
			background-color: $color_link;
			top: 80px;
			right: 0;
			left: 0;
			z-index: 5;
			margin: 0 auto;
			@include transition(all .3s ease);
			
		}
		.image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			@include transition(1s linear all);
			@include transform(scale(1));
			z-index: 0;
		}
		.title {
			position: absolute;
			left: 5px;
			right: 5px;
			bottom: 20px;
			color: #fff;
			text-align: center;
			display: block;
			@include transition(all .3s ease);
			@include transform(translate(0,0));
			z-index: 2;
		}
		.arrow {
			@include transform(translate(0,50px));
			position: absolute;
			left: 15px;
			right: 15px;
			text-align: center;
			bottom: 20px;
			z-index: 2;
			text-transform: uppercase;
			@include transition(all .3s ease);
			color: #fff;
			@include breakpoint(tablet-portrait) {
				display: none;
			}
			&:after {
				color: $color_link;
			}
			&:hover {
				color: $color_link;
			}
		}
		&:hover {
			color: #fff;
			text-decoration: none;
			&:after {
				width: 150px;
				@include breakpoint(tablet-portrait) {
					width: 100px;
				}
			}
			.image {
				@include transform(scale(1.2));
				@include transition(10s linear all);
				@include breakpoint(tablet-portrait) {
					@include transform(scale(1));
				}
			}
			&:after {
				@include opacity(.8);
				z-index: 1;
			}
			.title {
				z-index: 2;
				@include transform(translate(0,-50px));
				@include breakpoint(tablet-portrait) {
					@include transform(translate(0,0px));
				}
			}
			.arrow {
				@include transform(translate(0,0px));
				z-index: 2;
				
			}
		}
	}

}