.clientsMain {
	padding: 50px 15px 30px;
	@include breakpoint(tablet-windows) {
		padding: 100px 0 40px;
	}
	@include breakpoint(tablet-portrait) {
		padding: 30px 15px 10px;
	}
	.clients {
		@include display-flex;
		@include align-items(center);
		@include align-content(center);
		@include flex-wrap(wrap);
			&__item {
				width: 20%;
				text-align: center;
				margin: 0 0 30px;
				@include breakpoint(tablet-portrait) {
					width: 25%;
				}
				@include breakpoint(tablet-small-portrait1) {
					width: 33.3333%;
				}
				@include breakpoint(phone-landscape) {
					width: 50%;
				}
				img {
					display: block;
					max-width: 135px;
					margin: 0 auto;
					@include grayscale;
				}
			}
	}
}