/* Slider */
.sliderTop {
	min-height:680px;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
	z-index: 1;
	@include display-flex;
	overflow: hidden;
	@include align-items(center);
	background: #0a161f;
	@include transition(all .3s ease);
	@include breakpoint(phone-landscape) {
		min-height:440px;
	}
	&.contacts,&.service {
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		height: auto;
		min-height:750px;
		@include breakpoint(tablet-small-portrait) {
			height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
	}
	@include breakpoint(tablet-portrait) {
		min-height:680px;
}
	@include breakpoint(phone-landscape) {
		min-height:440px;
	}
		.container {
			z-index: 1;
			position: relative;
			width: 945px;
			text-align: center;
			padding: 175px 15px 100px;
			@include breakpoint(tablet-small-portrait) {
				padding: 0 15px;
		}
		}
		&:before {
		@include twins;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		background: rgba(0,0,0,0.6);
		}
		&:after { display:none;}
		.h1-title {
			color: #fff;
			margin: 75px 0;
			animation:none;
			@include breakpoint(tablet-small-portrait) {
				margin-bottom: 30px;
			}
		}
		h1,.h1 {
			color: #fff;
			text-transform: uppercase;
			margin: 0 auto 30px;
			animation:none;
		}
		p {
			margin: 0 auto;
			max-width: 550px;
			color:#fff;
			text-transform: uppercase;
			display: block;

		}
		.submenu {
			position: absolute;
			top:115px;
			@include transition(all .25s ease);
			animation: fadeInDown .8s alternate ease;
			left:0;
			right:0;
			overflow: hidden;
			margin-bottom: 60px;
			z-index:2;
			@include breakpoint(tablet-windowscape) {
				margin-bottom: 40px;
			}
			@include breakpoint(tablet-portrait) {
				margin:0;
				top: 50px;
			}
			
			&__item {
				padding: 30px 0;
				@include transition(all .25s ease);
				text-align: center;
				margin: 0;
				list-style: none;
				height: auto;
				@include breakpoint(tablet-portrait) {
					@include display-flex;
					overflow: hidden;
					overflow-x: auto;
					padding: 30px 0 15px;
				}
				a {
					&:before {
						display: none!important;
					}
				}
				li {
					margin: 0 15px;
					display: inline-block;
					position: relative;
					a,span {
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						position: relative;
						@include font(14,18);
						@include transition(all .25s ease);
						@include breakpoint(tablet-windowscape) {
							@include font(13, 16);
						}
						@include breakpoint(tablet-portrait) {
							white-space: nowrap;
						}
						&:before {
							@include twins;
							display: block!important;
							top: -27px;
							right: -5px;
							left: -5px;
							height: 1px;
							background-color: $color_link;
							@include opacity(0);
							@include transition(all .3s ease);
							@include breakpoint(tablet-windowscape) {
								top: -28px;
							}
							@include breakpoint(tablet-portrait) {
								display: none!important;
							}
						}
					}
					&:hover,&.act {
						a,span {
							color: $color_link;
						}
					}
					&.act {
						a,span {
							&:before {
								@include opacity(1)
							}
						}
					}
					&:last-child {
						a {
							padding-right: 15px;
						}
					}
				}
	
		}
	}
	}
	
	.video-inslider {
		position: absolute;
		top:0;
		left:0;
		bottom: 0;
		right: 0;
		z-index: 0;
		background-repeat:no-repeat;
		background-size:cover;
		@include breakpoint(tablet-portrait) {
			background-position: center bottom;
			background-size: auto calc(100vh + 15px);
		}
		video {
			animation: fadeIn 3s alternate ease-in-out;
			@include breakpoint(tablet-portrait) {
				display:none!important;
			}
		}
	}
	&__nav {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		padding-bottom: 20px;
		z-index:2;
		animation: fadeInUp 3s alternate ease-in-out;
		@include breakpoint(tablet-portrait) {
			left:30px;
			right: 30px;
		}
			.container {
				width:90%;
				max-width:1130px;
				padding: 0 40px;
				border-bottom: 1px solid rgba(255,255,255,.2);
				position: relative;
				@include box-sizing(border-box);
				@include breakpoint(tablet-portrait) {
					width:100%;
					max-width:100%;
					padding:0 15px;
				}
				@include breakpoint(tablet-small-portrait) {
					padding: 0;
				}
			}
			.slider-video-menu {
				@include display-flex;
				@include justify-content(space-between);
				@include align-content(center);
				@include breakpoint(tablet-small-portrait) {
					@include justify-content(center);
				}
					.slide {
						color:#fff;
						@include font(14,18);
						@include opacity(.5);
						text-align: left;
						@include display-flex;
						padding: 0 0 30px;						
						@include transition(all .25s ease);
						@include breakpoint(tablet-small-portrait) {
							padding: 0 0 20px;
						}
						span {
							@include flex-all(1 1 auto);
							@include transition(all .25s ease);
							cursor: pointer;
							@include breakpoint(tablet-small-portrait) {
								display:none;
							}
								&:first-child {
									@include flex-all(0 0 auto);
									margin:0 15px 0 0;
									@include breakpoint(tablet-small-portrait) {
										display:block;
										margin: 0 15px;
										@include font(16,18);
									}
								}
						}
						&.active {
							@include opacity(1);
						}
					}
			}
			.video-indicator {
				position: absolute;
				left:40px;
				right:40px;
				bottom:0;
				height:2px;
				@include display-flex;
				@include breakpoint(tablet-portrait) {
					left:15px;
				right:15px;
				}
				@include breakpoint(tablet-small-portrait) {
					left:0px;
				right:0px;
				}
					.slide {
						position: relative;
						width:calc(100%/3);
							&:before {
								@include twins;
								left:0;
								bottom: 0;
								width:0;
								background-color: #dcbe84;
								height:2px;
								@include transition(0.1s linear all);
							}
							&.active {
								&:before {width:100%;
									@include transition(19s linear all);
									@include breakpoint(tablet-small-portrait) {
										@include transition(3.9s linear all);
									}
								}
							}
					}

			}
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	&.single-item {
		padding: 0 100px;
		margin: 50px 0 100px;
		@include breakpoint(tablet-portrait) {
			padding: 0 60px;
			margin: 30px 0 80px;
		}
	}
}

.slick-list {
	position: relative;
	overflow: visible;
	display: block;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	//width: 20000px!important;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	@include opacity(1);
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}
	display: none;
	&.dragging img {
		pointer-events: none;
	}
	.slick-initialized & {
		display: block;
		//@include opacity(1);
	}
	.slick-loading & {
		visibility: hidden;
	}
	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	&.slick-active {
		@include opacity(1);
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slider-card {
	margin: 0 0 15px;
}

.slick-prev,
.slick-next {
	position: absolute;
	width: 50px;
	height: 12px;
	background-color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 3;
	bottom: 0;
	//background-image: url("data:image/svg+xml,%3Csvg width='50' height='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 12' fill='%23b39253'%3E%3Cpath fill-rule='evenodd' d='M48.078 6.096H.008v.966h48.07l-4.254 4.255.683.683 5.541-5.538L44.507.924l-.683.683z'%3E%3C/path%3E%3C/svg%3E");
	background:transparent url(#{$img}svg/arrow.svg) no-repeat;
	border: none;
	padding: 0;
	//z-index: 2;
	cursor: pointer;
	@include transition(all .3s ease);
	@include opacity(.6);
	&:hover {
		@include opacity(1);
		background-color: transparent;
		background:transparent url(#{$img}svg/arrow.svg) no-repeat;
	}
	&.slick-disabled {		
		background:transparent url(#{$img}svg/arrow.svg) no-repeat;
		@include opacity(.8);
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		cursor: auto;		
	}
}

.slick-prev {
	left: 0px;	
	@include transform(rotate(180deg));	
	&.slick-disabled {
		@include transform(rotate(180deg) scale(.8));	
	}
}

.slick-next {
	left: 70px;	
	&.slick-disabled {
		@include transform(scale(.8));	
	}
}

.slick-dots {
	list-style: none;
	padding: 0;
	width: 100%!important;
		left: auto!important;
		top: auto!important;
		bottom: auto!important;
		position: relative!important;
		text-align: center!important;
		margin: 10px 0 0!important;
		height:auto!important;
		@include box-shadow(none !important);
		&:before,&:after { display: none!important;}
		li {
			display: inline-block!important;
			background: #D8D8D8;
			border: 3px solid transparent;
			width: 14px;
			height: 14px;
			margin: 0 5px!important;
		padding: 0!important;
		vertical-align: middle;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		@include box-sizing(border-box);
		@include transition(all .25s ease);
		&:before,&:after { display: none!important;}
		button {
			text-indent: -9999px;
			overflow: hidden;
			padding: 0;
			margin: 0;
			position: absolute;
			top: -4px;
			left: -2px;
			right: -4px;
			bottom: -4px;
			background: none;
			width: 180%;
			height: 180%;
			border: none;
			line-height: 100%;
		}
		&:hover,&.slick-active {
				border: 4px solid #83d5f1;
				background: #00a9e3;
				button {
					background: none;
				}
			}

	}
}






.js-slider-company {
	.slick-track {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);
		&:before,&:after { display: none}
		@include breakpoint(tablet-small-portrait1) {
			@include justify-content(flex-start);
		}
	}
	.slide {
		@include display-flex;
		width: auto!important;		
		@include breakpoint(tablet-small-portrait1) {
			width: 100%!important;
			@include justify-content(center);
		}
		img {
			@include grayscale;
			@include transition(all .25s ease);
		}
	}
}


.js-slider-video {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	@include transition(all .3s ease);
	animation: fadeIn .3s alternate ease;
	.slick-list,.slick-track {
		height:100%;
	}
	.slide {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		
		&::before {
			@include twins;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;				
			z-index: 2;
			background: rgba(22,61,81,0.41);
		}
		&::after {
			@include twins;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			//@include gradient(linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%));
			@include simple-gradient(bottom, rgba(255, 255, 255, 0.0001), 0%, rgba(0, 0, 0, 0.5), 100%);
			z-index: 3;
		}
	
			&.slick-active {
				.text {
					.title,p,.more {
						@include opacity(1);
						@include transform(translate(0,0px));							
					}
					
					p {
						@include transition-delay(.1s);
					}
					.more {
						@include transition-delay(.2s);
					}
				}
			}
			
		
			.text {
				@include display-flex;
				@include align-items(center);
				position: absolute;
				width: 100%;
				top:0;
				bottom: 0;
				z-index: 4;
					.container {
						text-align: center;
						width: 90%;
						max-width: 700px;
						//animation: fadeInDown 1s alternate ease-in-out;
					}
					.title {
						color: #fff;
						text-transform: uppercase;
						@include font(24,26);
						margin: 0 0 50px;
						@include opacity(0);
						@include transform(translate(0,-50px));
						@include transition(all .8s ease);
						@include breakpoint(tablet-portrait) {
							@include font(22,24);
						}
					}
					p {
						@include font(32,48,700);
						text-transform: uppercase;
						text-align: center;
						margin: 0;
						color: #fff;
						@include opacity(0);
						@include transform(translate(0,-50px));
						@include transition(all .8s ease);
						@include breakpoint(tablet-portrait) {
							@include font(28,40,700);
						}
					}
					.more {
						margin: 30px 0 0;
						@include opacity(0);
						@include transform(translate(0,-50px));
						@include transition(all .8s ease);
							.btn {
								height: auto;
								background: none;
								padding: 0;
								text-transform: none;
								@include font(14,20);
								color:#fff!important;
								&:after {
									background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 20 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M18.304 3.866H0v-.967h18.07L15.816.645l.683-.683 2.938 2.937h.323v.324l.232.232-.044.045.044.045-.232.232v.089h-.089L16.5 7.038l-.683-.683 2.488-2.489z'%3E%3C/path%3E%3C/svg%3E");
								}
								
									&:hover {
										color:$color_link!important;
										&:after {
											background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 20 7' fill='%23dcbe84' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M18.304 3.866H0v-.967h18.07L15.816.645l.683-.683 2.938 2.937h.323v.324l.232.232-.044.045.044.045-.232.232v.089h-.089L16.5 7.038l-.683-.683 2.488-2.489z'%3E%3C/path%3E%3C/svg%3E");
										}
									}
							}
					}
			}
		}
}

/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	//zoom:1;
	width:100%;
	font-size:12px;
	line-height:16px;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
		a {			
			img {
				@include opacity(.4);
				@include transition(all .25s ease);
			}
			&:hover {
				img {
					@include opacity(1);
				}
			}
		}
}

.str_wrap.str_active {
}
.str_move { 
	white-space:nowrap;
	position:absolute;
	top:0;
	left:0;
	cursor:move;
	@include display-flex;
		a {
			@include align-items(center);
			padding:0 15px;
			margin: 0 40px 0 0;
			@include display-flex;			
			@include breakpoint(tablet-small-portrait) {
				margin: 0 15px 0 0;
				img {
					@include transition(all .25s ease);
					@include opacity(.4);
				}
		}
			&:hover {				
				img {
					@include opacity(1);
				}
			}
		}

}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute;
	left:100%;
	top:0;
	@include display-flex;
	@include align-items(center);
		 a {
			 /*height: 100%;
			 @include align-items(center);
			 @include display-flex;*/
		 }
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}