.specialists {
	z-index: 2;

	&.container {
		margin: 50px auto;
		position: relative;
		@include breakpoint(tablet-windows) {
			margin: 80px auto;
		}
		h2,.h2 {
			margin-top:0; 
		}
	}
	.row {
		margin-bottom: 30px;
		.specialists__item {
			margin-bottom: 30px;
		}
	}

	.sliderSpec {
		position: relative;
		@include breakpoint(tablet-portrait) {
			margin-top: 95px;
		}
		@include breakpoint(tablet-small-portrait) {
			margin: 0;
		}
			.counter {
				position: absolute;
				top: -65px;
				right: 140px;
				@include breakpoint(tablet-small-portrait) {
					display: none;
				}
			}
			.slick-next,.slick-prev {
				top: -65px;
				@include breakpoint(tablet-small-portrait) {
					top:calc(50% - 26px)!important;
				}
			}
			.slick-prev {
				&:before {
					@include breakpoint(tablet-small-portrait) {
						left:calc(50% - 12px);
					}
				}
				@include breakpoint(tablet-small-portrait) {
					top:calc(50% - 26px)!important;
				}
			}
		}
	&__item {
		padding: 0 15px;
		@include breakpoint(tablet-small-portrait1) {
			padding: 0 10px;
		}
		a {
			display: block;
			position: relative;
			text-decoration: none;
				.image {
					position: relative;
					display: block;
					height: 425px;
					background-repeat: no-repeat;
					background-position: center;
					//background-size: 100% auto;
					background-size: cover;

					img {
						display: block;
					}
					.title {
						position: absolute;
						@include display-flex;
						@include align-items(center);
						@include align-content(center);
						left: 0;
						width: 100%;
						bottom: 0;
						padding: 5px 25px;
						min-height: 70px;
						@include box-sizing(border-box);
						background: rgba(255,255,255,.5);
						@include font(18,20);
						color: $color_link;
						@include transition(all .25s ease);
						@include breakpoint(phone-landscape) {
							min-height:inherit;
							padding: 15px 20px;
						}
					}
				}
				.desc {
					min-height: 80px;
					width: 100%;
					padding: 5px 25px;
					@include box-sizing(border-box);
					@include display-flex;
					@include align-items(center);
					@include align-content(center);
					@include font(14,18,300);
					@include transition(all .25s ease);
					@include breakpoint(phone-landscape) {
						min-height:inherit;
						padding: 15px 20px;
					}
				}
				&:hover {
					.image {
						.title {
							color: #fff;
							background: rgba(0, 169, 227,0.8);
							@include breakpoint(tablet-portrait2) {
								background: rgba(255,255,255,.5);
								color: $color_link;
							}
						}
					}
					.desc {
						color: #fff;
						background: rgba(0, 169, 227,0.8);
						@include breakpoint(tablet-portrait2) {
							background: transparent;
							color: $color_link;
						}
					}
				}
		}
	}
}
.specialist {
	@include display-flex;
	@include flex-wrap(wrap);	
	position: relative;
	background: #F9FCFF;
	margin: 130px auto 60px;
	@include breakpoint(tablet-portrait) {	
		margin-left: -15px;
		margin-right: -15px;
		margin: 90px -15px 60px;
	}
	@include breakpoint(phone-landscape) {
		margin: 20px -15px 60px;
	}
	&:before {
		@include twins;
		width: 1000px;
		top: 0;
		right: 100%;
		background: #F9FCFF;
		bottom:0;
		display: block!important;
		@include breakpoint(tablet-portrait) {	
			display: none!important;
		}
	}
	&:after {
		@include twins;
		width: 1000px;
		top: 0;
		left: 100%;
		background: #F9FCFF;
		bottom:0;
		display: block!important;
		@include breakpoint(tablet-portrait) {	
			display: none!important;
		}
	}
		.image {
			position: relative;
			@include flex-all(0 0 41.66667%);
			@include breakpoint(tablet-portrait) {	
				@include flex-all(0 0 33.3333%);
			}
			@include breakpoint(tablet-small-portrait) {	
				@include flex-all(0 0 100%);
			}
				img {
					display: block;
					bottom: 0;
					right: 0px;
					position: absolute;
					@include breakpoint(tablet-small-portrait) {	
						position: relative;
						margin: 0 auto;
						bottom: auto;
						right: auto;
					}
				}
		}
		.text {
			@include display-flex;
		@include flex-wrap(wrap);			
			padding-top: 50px;
	padding-bottom: 50px;
			//@include justify-content(flex-end);
			@include align-content(center);
			@include align-items(center);
			@include flex-all(1 1 auto);
			@include breakpoint(tablet-small-portrait) {	
				width: 100%;
			}
			@include breakpoint(phone-landscape) {
				padding-top: 30px;
				padding-bottom: 30px;
			}
				.title {
					@include font(42,50,300);
					color:$color_h;
					margin: 0 0 20px;
					width: 100%;
					text-align: right;
					@include breakpoint(tablet-portrait) {
						text-align: left;
					}
					@include breakpoint(tablet-small-portrait) {
						text-align: center;
						@include font(24,26,300);
						margin: 0 0 0px;
					}
				}
				blockquote,.quote {
					padding: 10px 0;
					color: #030303;
					@include font(16,26,300);
					position: relative;
					margin: 20px 0 30px 70px;
					@include breakpoint(tablet-portrait) {
						margin: 20px 0 30px;
						padding-left: 10px;
						width: 100%;
					}					
					@include breakpoint(tablet-small-portrait) {
						padding-left: 0;
					}
						&:before {
							@include twins;
							background: url(#{$img}icons/quote-left.png) no-repeat;
							width: 41px;
							height: 32px;
							background-size: 41px auto;
							top: 0px;
							left: -12px;
							z-index: -1;
							@include breakpoint(tablet-small-portrait) {
								left: 0px;
							}
						}
						&:after {
							@include twins;
							background: url(#{$img}icons/quote-right.png) no-repeat;
							width: 41px;
							height: 32px;
							background-size: 41px auto;
							bottom: -5px;
							right: 0;
							z-index: -1;
						}
				}
				.more {
					width: 100%;
					text-align: right;
					@include font(18,21);
					@include breakpoint(tablet-small-portrait) {
						text-align: center;
					}
				}
		}
}

.arrow-r {
	position: relative;
	display: inline-block;
	@include font(18,21);
	color: $color_link;
	cursor:pointer;
	&:after {
		content:"";
		width: 33px;
		height: 27px;
		background: url(#{$img}arrow.png) no-repeat 0 0;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 2px 10px;
	}
	&:hover {
		text-decoration: none;
		color: $color_link_hover;
		&:after {
			background-position: 0 -28px;
		}
	}
}

.specialist-header {
	background: #F9FCFF;
	position: relative;
	@include display-flex;
	@include align-content(center);
	@include align-items(center);
	padding-top: 20px;
	padding-bottom: 20px;
	 margin-bottom: 30px;
	@include breakpoint(tablet-portrait) {
		margin: 0 -15px 30px;
	}
	@include breakpoint(tablet-small-portrait1) {
		margin: 0 -10px 30px;
	}

		&:before {
			width: 1000px;
			right: 100%;
			top: 0;
			bottom: 0;
			@include twins;
			background: #F9FCFF;
			display: block!important;
			@include breakpoint(tablet-portrait) {
				display: none!important;
			}
		}
		&:after {
			width: 1000px;
			left: 100%;
			top: 0;
			bottom: 0;
			@include twins;
			display: block!important;
			background: #F9FCFF;
			@include breakpoint(tablet-portrait) {
				display: none!important;
			}
		}
		.image {
			@include breakpoint(tablet-small-portrait) {
				margin-bottom:15px;
			}
			
				img {
					display: block;
					border-radius: 50%;
					@include breakpoint(tablet-small-portrait) {
						margin: 0 auto;
					}
				}
		}
		&__text {
			h2,.h2 {
				margin: 10px 0;
			}
			table {
				margin: 0;
				padding: 0;
				border: none;
				@include box-shadow(none);
					th {
						color:$color_h;
						@include font(16,26,600);
						padding: 10px 20px 10px 0; 
						border: none;
						background: none;
						text-align: left;
						.reviews-counter {
							color:#5E5D5B;
							@include font(16,26,400);
							a {
								color:#5E5D5B;
							}
						}
					}
					td {
						color: #5E5D5B;
						@include font(16,26,300);
						padding: 10px 0;
						border: none;
						background: none;
						
					}
			}
			.reviewStars {
				height:17px;
				position:relative;
				margin: -5px 0 2px;
				min-width:105px;
					&:before {
						@include twins;
						height:100%;
						background:url(#{$img}icons/star-b.png) repeat-x;
						background-size:21px 17px;
						width:105px;
						top:0;
						left:0;
						@include grayscale();
					}
					&:after {
						@include twins;
						height:100%;
						background:url(#{$img}icons/star-b.png) repeat-x;
						background-size:21px 17px;
						//width:70px;
						top:0;
						left:0;
					}
					&.star0 {
						&:after { display:none;}
					}
					&.star05 {
						&:after { width:10.5px;}
					}
					&.star1 {
						&:after {
							width:21px;
						}
					}
					&.star15 {
						&:after {
							width:31px;
						}
					}
					&.star2 {
						&:after {
							width:42px;
						}
					}
					&.star25 {
						&:after {
							width:53px;
						}
					}
					&.star3 {
						&:after {
							width:63px;
						}
					}
					&.star35 {
						&:after {
							width:74px;
						}
					}
					&.star4 {
						&:after {
							width:84px;
						}
					}
					&.star45 {
						&:after {
							width:95px;
						}
					}
					&.star5 {
						&:after {
							width:105px;
						}
					}
			}
			#reviewStars-input {
				overflow: hidden;
				position: relative;
				float: left;
				margin: -5px 0 2px;
			}
			#reviewStars-input .jq-radio {
				@include opacity(0);
				width: 15px;
				margin: 0;
				height: 14px;  
				position: absolute!important;
				top: 0;
				z-index: 0;
				border:none;
				background: url(#{$img}icons/star.png) no-repeat;
				&.checked {
			
				}
			}
			
			#reviewStars-input .jq-radio.checked ~ label {  
				filter: none;
				-webkit-filter: grayscale(0);
				@include transition(all .25s ease);
				
			}
			
			#reviewStars-input label {
				background: url(#{$img}icons/star-b.png) no-repeat;
				@include grayscale();
				@include transition(all .25s ease);
				height: 17px;
				width: 21px;
				float: right;
				cursor: pointer;  
				position: relative;
				z-index: 1;
				margin: 0;
			}
			
			#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
				filter: none;
				-webkit-filter: grayscale(0);
			}
			
			#reviewStars-input #star-0-styler {
				left: 0px;
			}
			#reviewStars-input #star-1-styler {
				left: 21px;
			}
			#reviewStars-input #star-2-styler {
				left: 42px;
			}
			#reviewStars-input #star-3-styler {
				left: 63px;
			}
			#reviewStars-input #star-4-styler {
				left: 84px;
			}
			#reviewStars-input #star-5-styler {
				left: 105px;
			}
		}

}
.specialist-description {
	/*@include display-flex;
	@include flex-wrap(wrap);
	margin: 0 -15px;
	@include box-sizing(border-box);
	@include align-items(flex-start);*/
	overflow: hidden;
	@include breakpoint(tablet-portrait) {
		margin: 0;
		@include flex-wrap(wrap);
		@include display-flex;
	}
	.text {
		/*padding: 0 15px;
		@include flex-all(1 1);
		@include display-flex;
	@include flex-wrap(wrap);
		@include box-sizing(border-box);*/
		@include breakpoint(tablet-portrait) {
			padding: 0;
			@include display-flex;
			@include flex-wrap(wrap);
			@include order(0);
		}
		h2,h3 {
			width: 100%;
		}
	}
	.video {
		width: 50%;
		float: right;
		padding-left: 15px;
		margin-left: 15px;
		@include box-sizing(border-box);
		@include breakpoint(tablet-portrait) {	
			@include flex-all(0 0 100%);
			padding: 0;
			margin: 0;
			@include order(1);
			@include display-flex;
		}
		a {
			display: block;
			position: relative;
			cursor: pointer;
			&:before {
				@include twins;
				width: 0;
				height: 0;
				top: calc(50% - 4px);
				left: calc(50% - 4px);
				border-left: 12px solid #fff;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				z-index: 2;
			}
			&:after {
				@include twins;
				background: #ff0000;
				width: 54px;
				height: 36px;
				border-radius: 12px;
				@include opacity(.7);
				@include grayscale;
				top: calc(50% - 15px);
				left: calc(50% - 27px);
				z-index: 1;
			}
			&:hover {
				&:after {
					@include opacity(1);
					filter: none;
					-webkit-filter: grayscale(0);
				}
			}
		}
		
	}
}
.specialist-services {
	margin: 60px 0 0;
	h3 {
		color: $color_h;
		@include font(16,26,600);
		margin: 0 0 20px;
	}
}

.recommendations {
	margin: 0 0 30px;
		.list {
			@include display-flex;
		@include flex-wrap(wrap);
		margin: 0 -15px;
		@include box-sizing(border-box);
		.column {
			width: 50%;
			padding: 0 15px;
			@include box-sizing(border-box);
			/*@include display-flex;
			@include flex-wrap(wrap);*/
			@include breakpoint(tablet-portrait) {	
				width: 100%;
			}
		}
		}
		&__item {
			margin: 0 0 30px;
			@include display-flex;
			@include flex-wrap(wrap);
			@include box-shadow(0px 2px 12px rgba(0, 48, 91, 0.16));	
			background: #fff;
			padding: 15px;
			border: 1px solid transparent;
			@include transition(all .25s ease);
			text-decoration: none;
			color: $color_text;
			.title {			
				@include font(24,29,300);
					color: $color_blue_light;
					text-decoration: none;
					width:100%;
			}
			.author {
				border-top:1px solid #D8D8D8;
				padding: 10px 0 0;
				margin: 15px 0 0;
				@include display-flex;
				@include flex-wrap(wrap);
					.image {
						@include flex-all(0 0 68px);
						margin: 0 20px 0 0;
							img {
								border-radius:50%;
								display: block;
							}
					}
					&__title {
						color: #5E5D5B;
						@include flex-all(1 1);
						span,a {
							@include font(18,21,600);
							color: #000;
							display: block;
							margin: 0 0 10px;
						}
					}

			}
			&:hover {			
				text-decoration: none;
				color:#030303;
				border-color:$color_blue_light;
				@include box-shadow(0px 21px 11px rgba(4, 26, 46, 0.22));
				text-decoration: none;
				&:after {
					width: 100%;
				}
				.title {
					color: $color_blue_light;
					a {
						color: $color_blue_light;
						text-decoration: none;
					}
				}			
			}
		}
}
.author-info {
	border-top:1px solid #D8D8D8;
	padding: 20px 0 0;
	margin: 30px 0 0;
	@include display-flex;
		.image {
			@include flex-all(0 0 68px);
			margin: 0 20px 0 0;
				img {
					border-radius:50%;
					display: block;
				}
		}
		&__title {
			@include display-flex;
	@include flex-wrap(wrap);
	@include align-content(center);
			color: #5E5D5B;
			span,a {
				@include font(18,21,600);
				color: #000;
				display: block;
				margin: 0 0 10px;
				@include flex-basis(100%);
			}
		}
		&:hover {
			.author-info__title {
				a {
					color: $color_link;
					text-decoration: none;
				}
			}
		}

}