.celebrities {
	&.container {
		margin: 50px auto 40px;
		@include breakpoint(tablet-windows) {
			margin: 90px auto 40px;
		}
		h2,.h2 {
			margin-top:0; 
		}
	}
	.sliderSpec {
		position: relative;
		@include breakpoint(tablet-portrait) {
			margin-top: 95px;
		}
		@include breakpoint(tablet-small-portrait) {
			margin: 0;
		}
			.counter {
				position: absolute;
				top: -55px;
				right: 140px;
				@include breakpoint(tablet-small-portrait) {
					display: none;
				}
			}
			.slick-next,.slick-prev {
				top: -55px;				
				
				@include breakpoint(tablet-small-portrait) {
					top:calc(50% - 26px)!important;
				}
				
			}
			.slick-prev {
				right: 78px;
				left: auto;
				&:before {
					@include breakpoint(tablet-small-portrait) {
						left:calc(50% - 12px);
					}
				}
				@include breakpoint(tablet-small-portrait) {
					top:calc(50% - 26px)!important;
				}
			}
	}
	&__item {
		padding: 0 15px;
		@include breakpoint(tablet-small-portrait1) {
			padding: 0 10px;
		}
		a,.celebrity {
			display: block;
			position: relative;
			text-decoration: none;
			padding:0 0 45px;
				.image {
					position: relative;
					display: block;
					height: 440px;
					overflow:hidden;
					background-repeat: no-repeat;
					background-position: center;
					//background-size: 100% auto;
					background-size: cover;

					img {
						display: block;
					}					
					.desc {
						position:absolute;
						overflow:hidden;
						left:0;
						right:0;
						bottom:-440px;
						@include font(14,20);
						@include box-sizing(border-box);
						color:$color_text;
						padding:15px;
						background:rgba(255,255,255,0.8);
						@include transition(all .6s ease);
						@include opacity(0);
						p {
							margin:0;
						}
					}
					
				}
				.title {
					position: absolute;
					right: 0;					
					bottom: 45px;
					padding: 0px 15px;
					height: 45px;
					@include box-sizing(border-box);
					background: #fff;
					@include font(18,45,600);
					color: #000;
					@include transition(all .4s ease);
					@include breakpoint(phone-landscape) {
					}
				}
				&:hover {
					.image {
						.desc {							
							@include opacity(1);
							bottom:0;
							@include breakpoint(tablet-portrait) {
								@include opacity(0);
								bottom:-440px;
							}
						}
					}
					.title {
						bottom:0;
						@include breakpoint(tablet-portrait) {
							bottom: 45px;
						}
					}
				}
				&.active {
					.image {
						.desc {		
							@include breakpoint(tablet-portrait) {
								@include opacity(1);
								bottom:0;
							}
						}
					}
					.title {						
						@include breakpoint(tablet-portrait) {
							bottom:0;
						}
					}
				}
		}
	}
}