.useful {
	//margin-bottom: 130px;
	margin-top: 60px;
	@include breakpoint(tablet-windowscape) {
	//	margin-bottom: 80px;
	}
	@include breakpoint(tablet-portrait) {
		//margin-bottom: 50px;
	}
	+.paging {
		margin-top: 0;
		margin-bottom: 130px;
		@include breakpoint(tablet-windowscape) {
			margin-bottom: 80px;
			margin-top: 0;
		}
		@include breakpoint(phone-landscape) {
			margin-bottom: 50px;
			margin-top: 0;
		}
	}
	&__item {
		margin-bottom: 80px;
		display: block;
		text-decoration: none;
		color: $color_h;
		text-decoration:none!important;
		@include breakpoint(tablet-portrait) {
			margin-bottom: 50px;
		}
		.image {
			overflow: hidden;
			display: block;
			margin-bottom: 30px;
			position:relative;
			img {
				display: block;
				@include transition(1s linear all);
				@include transform(scale(1));
			}
			.video-ico {
				display:block;
				width:128px;
				height:128px;
				position:absolute;
				top:calc(50% - 64px);
				left:calc(50% - 64px);
				
				&:before {
					@include twins;
					width:128px;
					height:128px;
					background:url(#{$img}icons/ico-play.png) no-repeat center;
					@include transition(all .3s ease);
					left:0;
					top:0;
					filter:invert(11%) sepia(53%) saturate(9779%) hue-rotate(205deg) brightness(50%) contrast(98%);
					@include breakpoint(tablet-portrait) {
						background-size:100px auto;
					}
					@include breakpoint(tablet-small-portrait) {
						background-size:60px auto;
					}
				}
				&:after {
					@include twins;
					width:128px;
					height:128px;
					left:0;
					top:0;
					background:url(#{$img}icons/ico-play.png) no-repeat center;
					@include transition(all .3s ease);
					@include opacity(0);
					@include breakpoint(tablet-portrait) {
						background-size:100px auto;
					}
					@include breakpoint(tablet-small-portrait) {
						background-size:60px auto;
					}
				}
			}
				span {
					display: block;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					@include transition(1s linear all);
					@include transform(scale(1));
					height: 370px;
					@include breakpoint(tablet-windowscape) {
						height: 300px;
					}
					@include breakpoint(tablet-portrait) {
						height: 250px;
					}
					@include breakpoint(tablet-small-portrait) {
						height: 370px;
					}
					@include breakpoint(phone-landscape) {
						height: 250px;
					}
					
				}
		}
		.date {
			text-align: center;
			display: block;		
			color:$color_link;
		}
		.title {
			text-align: center;
			display: block;			
			@include font(30,34);
			@include breakpoint(tablet-windowscape) {
				@include font(28,32);
			}
			@include breakpoint(tablet-portrait) {
				@include font(22,26);
			}
		}
		&:hover {
			text-decoration: none;
			.image {
				span,img {
					@include transform(scale(1.2));
					@include transition(10s linear all);
					@include breakpoint(tablet-portrait) {
						@include transform(scale(1));
					}
				}
				.video-ico {
					&:after {
						@include opacity(1);
					}
					&:before {
						@include opacity(0);
					}
				}
			}
		}
	}
}