.works {
	.all {
		margin:50px 0;
		margin-top:-130px;
		padding: 25px 0;
		border-bottom: 1px solid #f1f1f1;
		@include breakpoint(tablet-portrait) {
					margin-top:-65px;
			}
			@include breakpoint(tablet-small-portrait) {
				margin-top:-50px;
		}
	}
	&__item {
		margin-bottom:130px;
		@include breakpoint(tablet-portrait) {
			margin-bottom:65px;
	}
	@include breakpoint(tablet-small-portrait) {
		margin-bottom:50px;
}
	
		.descripsion {
			margin-top:50px;
			margin-bottom:0;
			@include breakpoint(tablet-small-portrait) {
				margin-top:20px;
			}
		}
		.gallery {
			text-align: center;
			img {
				display: block;
				margin: 0 auto;
			}
			.js-slider-for {
				//height:314px;
				overflow:hidden;
				margin-top: 5px;
				//max-width: 556px;
				margin: 5px auto 0;
				/*@include breakpoint(tablet-small-portrait1) {
					width: 400px;
					height: 226px;
				}
				@include breakpoint(phone-landscape1) {
					width: 280px;
					height: 158px;
				}*/
			}
			&__item {
				text-align: center;
				a,span {
					display:block;
					background-repeat:no-repeat;
					background-size:cover;
					background-position: center;
					text-align: center;
					@include transition(all .25s ease);
					/*height: 314px;					
					@include breakpoint(tablet-small-portrait1) {
						height: 226px;
					}
					@include breakpoint(phone-landscape1) {
						height: 158px;
					}*/
					img {
						margin: 0 auto;
						float: none;
					}
				}
			}
		}
		.js-slider-nav {
			margin-top:30px;
			.slick-track {
				text-align:center;
				width:100%!important;
				@include transform(translate3d(0, 0px, 0px)!important);
			}
			.slide {
				width:75px!important;
				display:inline-block!important;
				margin:0 3px;
				float:none!important;
				span {
					display:block;
					background-repeat:no-repeat;
					background-size:cover;
					background-position: center;
					height: 50px;
					border:1px solid #e8e8e9;
					@include transition(all .25s ease);
					cursor:pointer;
				}
				&.slick-current {
					a,span {
						border-color:$color_link;
					}
				}
			}
		}
	}
}

.confirm {
	position: relative;
		&__age {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(220,190,132,.9);
			z-index: 4;
			@include transition(all .25s ease);		
			&:before {
				@include twins;
				top:100%;
				height: 85px;
				left: 0;
				right: 0;
			}
				.preview {
					@include display-flex;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					@include align-items(center);
					@include align-content(center);
					@include justify-content(center);
					@include opacity(1);
					@include transition(all .25s ease);
					@include font(144,144);
					color: $color_h;
					cursor: pointer;
					z-index: 2;
					@include breakpoint(tablet-portrait) {
						@include font(100,100);
					}
					@include breakpoint(tablet-small-portrait) {
						@include font(70,70);
					}
					&.active {
						@include opacity(0);
						z-index: 0;
					}
				}
				.text {
					@include display-flex;
					@include flex-wrap(wrap);
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					color: #fff;
					@include font(18,24);
					@include align-items(center);
					@include align-content(center);
					@include justify-content(center);
					@include opacity(0);
					@include transition(all .25s ease);
					z-index: 0;
					@include breakpoint(tablet-windowscape) {
						@include font(16,22);
					}
					@include breakpoint(tablet-small-portrait) {
						@include font(14,18);
					}
					@include breakpoint(phone-landscape) {
						@include font(12,16);
					}
					&.active {
						@include opacity(1);
						z-index: 2;
					}
						p {
							margin: 10px 0;
							width: 100%;
							@include breakpoint(tablet-small-portrait) {
								margin: 5px 0;
							}
							a {
								@include font(16,20);
								@include opacity(.5);
								color: #fff;
								text-decoration: none;
								cursor: pointer;
								@include breakpoint(tablet-windowscape) {
									@include font(14,18);
								}
								@include breakpoint(tablet-small-portrait) {
									@include font(12,16);
								}
								&:hover {
									@include opacity(1);
								}
							}
						}
						.more {
							margin: 40px 0 0;
							padding:0!important;
							border:none!important;
							@include breakpoint(tablet-windowscape) {
								margin: 20px 0 0;
							}
							@include breakpoint(tablet-small-portrait) {
								margin: 10px 0 0;
							}
							.arrow {
								color: $color_h!important;
								margin: 0!important;
								@include breakpoint(phone-landscape) {
									@include font(14,16);
								}
								&:after {
									background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 20 7' fill='%23032a58' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M18.304 3.866H0v-.967h18.07L15.816.645l.683-.683 2.938 2.937h.323v.324l.232.232-.044.045.044.045-.232.232v.089h-.089L16.5 7.038l-.683-.683 2.488-2.489z'%3E%3C/path%3E%3C/svg%3E");
								}
								&:hover {
									color: #ffffff!important;
									&:after {
										background-image: url("data:image/svg+xml,%3Csvg width='20' height='7' viewBox='0 0 20 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M18.304 3.866H0v-.967h18.07L15.816.645l.683-.683 2.938 2.937h.323v.324l.232.232-.044.045.044.045-.232.232v.089h-.089L16.5 7.038l-.683-.683 2.488-2.489z'%3E%3C/path%3E%3C/svg%3E");
									}
								}
							}
						}
						
				}
		}
}