.idea/
.idea/copyright/
.idea/deployment.xml
upload
bitrix/wizards
bitrix/cache
bitrix/backup
bitrix/managed_cache
bitrix/php_interface/dbconn.php
bitrix/.settings.php
page.php
*.txt
*.log
logs/*
npm/node_modules/.cache/terser-webpack-plugin