.about {
	&.row {
		color: $color_grey;
		.col-xs-12 {
			position: relative;
				&:after {
					@include twins;
					top: 0;
					right: 0;
					bottom: 0;
					border-right: 1px solid #e5e5e5;
					@include breakpoint(tablet-portrait) {
						border: none;
						top: auto;
						left: 15px;
						right: 15px;
						border-bottom: 1px solid #e5e5e5;
					}
				}
			@include breakpoint(tablet-portrait) {
				margin: 0 0 40px;				
				padding-bottom: 20px;
			}				
		}
		.col-xs-11 {
			@include breakpoint(tablet-small-portrait) {
				padding-left: 80px;
				float: none;
				width: 100%!important;
				margin: 0;
			}
		}
		p {
			margin: 0 0 50px;
			color: $color_grey;
			@include breakpoint(tablet-portrait) {
				margin: 0 0 20px;
			}
			strong {
				@include font(18,24,700);
				color: $color_h;
			}
		}
		a {
			color: $color_grey;
			&:hover {
				color: $color_link;
				text-decoration: none;
			}
		}
		.title-preview {
			margin: 0 0 30px;
			@include breakpoint(tablet-portrait) {
				margin: 0 0 15px;
			}
		}
		table {
			border:none;
			margin: 0 0 35px;
			tr {
				td {
					border: none;
					padding: 0 0 25px;
					vertical-align: top;
					color: $color_grey;
					@include breakpoint(tablet-small-portrait) {
						padding: 0 0 5px;
					}
					&:first-child {
						color: $color_h;
						padding-right: 15px;
						white-space: nowrap;
					}
				}
			}
		}
	}
	&.container {
		margin: 80px auto;
		@include breakpoint(tablet-windows) {
			margin: 115px auto;
		}
		@include breakpoint(tablet-small-portrait1) {					
			margin: 50px auto;
		}
		h2,.h2 {
			margin: 30px 0 40px;
			max-width:70%;
			@include breakpoint(tablet-windows) {
				margin: 35px 0 70px;
				max-width:50%;
			}
			@include breakpoint(tablet-portrait) {
				width:auto;
			}
		}
		.logo {
			float:right;
			margin-top: -50px;
			@include breakpoint(tablet-portrait) {
				margin: 0 0 0 15px;
				width:75px;
				height:auto;
			}
		}
		.col2 {
			margin:0;
		}
		.column {
			width: 50%;
			float: left;
			@include box-sizing(border-box);
			padding-right: 15px;
			@include breakpoint(tablet-small-portrait1) {
				width: 100%;
				padding: 0;
			}
			&:last-child {
				padding-left: 15px;
				@include breakpoint(tablet-small-portrait1) {					
					padding: 0;
				}
			}
		}
		p {
			margin: 0 0 20px;
		}
		.btns {
			left:0;
			bottom: 20px;
			position: absolute;
			@include breakpoint(tablet-portrait) {
				position: relative;
				left: auto;
				bottom: auto;
			}
			a {
				margin-right: 45px;
				@include breakpoint(tablet-small-portrait1) {
					margin-right: 25px;
				}
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}

.balls {
	margin: 50px 0 0 95px;
	@include breakpoint(tablet-portrait) {	
		margin: 40px 0 0 95px;
	}
	@include breakpoint(tablet-small-portrait) {
		width: calc(100vw - 15px);
		margin-left: -80px;
	}
	ul {
	position: relative;
	margin:0!important;
	width: 350px;
	height: 350px;
	color: #fff;
	@include font(14,20);
	padding: 0!important;
	list-style: none;
	@include breakpoint(tablet-small-portrait) {
		margin: 0 auto!important;
	}
	@include breakpoint(phone-landscape) {
		width: 300px;
		height: 300px;
	}	
		li {
			border-radius: 50%;
			position: absolute!important;
			@include display-flex;
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			line-height: 16px!important;
			padding: 0!important;
			margin: 0!important;
			z-index: 1;
			padding: 10px!important;
			&:before { display: none!important;}
				&:nth-of-type(1) {
					width: 132px;
					height: 132px;
					background: rgba(5,43,89,.7);
					left: 5px;
					top: 5px;
					@include breakpoint(phone-landscape) {
						width: 110px;
					height: 110px;
					}
				}
				&:nth-of-type(2) {
					width: 80px;
					height: 80px;
					background: rgba(5,43,89,.7);
					left:139px;
					top: 7px;

					@include breakpoint(phone-landscape) {
						width: 50px;
						height: 50px;
						left: 120px;
						top: 25px;
					}
				}
				&:nth-of-type(3) {
					width: 134px;
					height: 134px;
					background: rgba(220,190,132,.7);
					top: 20px;
					right: 0;
				}
				&:nth-of-type(4) {
					width: 190px;
					height: 190px;
					background: rgba(5,43,89,.7);
					top: 65px;
					left: calc(50% - 95px);
					z-index: 0;
				}
				&:nth-of-type(5) {
					width: 114px;
					height: 114px;
					background: rgba(220,190,132,.7);
					top: 148px;
					left: 0;
					@include breakpoint(phone-landscape) {
						width: 100px;
						height: 100px;
					}
				}
				&:nth-of-type(6) {
					width: 114px;
					height: 114px;
					background: rgba(220,190,132,.7);
					top: 175px;
					right: 12px;
					@include breakpoint(phone-landscape) {
						width: 100px;
						height: 100px;
					}
				}
				&:nth-of-type(7) {
					width: 80px;
					height: 80px;
					background: rgba(5,43,89,.7);
					bottom: 36px;
					left: 101px;
					@include breakpoint(phone-landscape) {
						bottom: 0px;
					}
				}
		}
	}
}