.contacts {
	&.container {
		margin: 80px auto;
		@include breakpoint(tablet-windows) {
			margin: 115px auto;
		}
		@include breakpoint(tablet-small-portrait1) {					
			margin: 50px auto;
		}
	}
		h2,.h2 {
			margin: 30px 0;
			max-width:80%;
			@include breakpoint(tablet-windows) {
				margin: 35px 0 30px;
				max-width:70%;
			}
			@include breakpoint(tablet-portrait) {
				width:auto;
			}
		}		
		.column {
			width: 50%;
			float: left;
			@include box-sizing(border-box);
			padding-right: 15px;
			@include breakpoint(tablet-small-portrait1) {
				width: 100%;
				padding: 0;
			}
			&:last-child {
				padding-left: 15px;
				@include breakpoint(tablet-small-portrait1) {					
					padding: 0;
				}
			}
		}
		p {
			margin: 0 0 20px;
		}
		.social {
			@include breakpoint(tablet-portrait) {
				margin: 0 0 30px;
			}			
			a {
				@include opacity(1);
				width:30px;
				height: 30px;
				position: relative;
				text-indent: -9999px;
					&:before {
						@include twins;
						width:30px;
						height: 30px;
						left:0;
						top:0;
						text-indent: 0;
						background-position: center;
						background-repeat: no-repeat;
						@include transition(all .3s ease);
					}
					&:after {
						@include twins;
						width:30px;
						height: 30px;
						left:0;
						top:0;
						text-indent: 0;
						background-position: center;
						background-repeat: no-repeat;
						@include opacity(0);
						@include transition(all .3s ease);
					}
					&.vk {
						&:before {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23dcbe84'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.988-0.396,5.839-1.179c1.786-0.756,3.39-1.837,4.768-3.214 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Cpath d='M4.526,11.699c0.226,0.589,0.504,1.156,0.791,1.717c0.682,1.333,1.384,2.626,2.326,3.798 c0.951,1.184,2.075,2.33,3.398,3.096c0.368,0.213,0.755,0.393,1.158,0.529c1.555,0.527,3.261,0.477,3.787,0.125 c0.527-0.351-0.1-2.658,0.377-2.934c0.477-0.276,1.328,0.326,1.956,0.877c0.627,0.553,1.104,1.029,1.454,1.404 c0.221,0.236,0.375,0.518,0.662,0.686c0.475,0.277,1.105,0.247,1.635,0.248c0.295,0.002,0.59,0.002,0.885-0.002 c0.199-0.002,0.398,0.004,0.598-0.005c0.328-0.017,0.756-0.146,0.73-0.555c-0.006-0.097-0.027-0.212-0.065-0.302 c-0.083-0.192-0.199-0.392-0.324-0.559c-0.652-0.871-1.085-1.316-1.411-1.668s-1.668-1.618-1.756-1.869 c-0.088-0.25-0.115-0.361,0.134-0.7s0.794-1.193,1.222-1.808c0.267-0.385,0.51-0.788,0.75-1.191 c0.283-0.475,0.549-0.961,0.775-1.466c0.102-0.226,0.193-0.431,0.131-0.684c-0.042-0.169-0.137-0.318-0.314-0.36 c-0.097-0.023-0.203-0.025-0.302-0.025c-0.37,0-1.335,0-1.335,0c-0.175,0-0.35-0.002-0.523-0.002c-0.18,0-0.36-0.001-0.539,0.014 c-0.254,0.021-0.409,0.217-0.537,0.415c-0.156,0.241-0.298,0.493-0.449,0.737c-0.104,0.167-0.205,0.335-0.305,0.505 c-0.156,0.265-0.316,0.526-0.477,0.789c-0.066,0.109-0.133,0.217-0.199,0.327c-0.188,0.313-1.818,2.458-2.145,2.546 s-0.438,0.063-0.438-0.602s0-4.439,0-4.439s-0.024-0.291-0.301-0.291s-1.556,0-1.556,0h-2.64c0,0-0.621,0.002-0.401,0.561 c0.22,0.558,0.869,0.728,0.869,1.659s0,3.649,0,3.649s-0.11,0.817-0.818,0.141c-0.558-0.533-1.019-1.165-1.425-1.818 c-0.423-0.68-0.763-1.387-1.066-2.127c-0.087-0.212-0.173-0.424-0.262-0.635c-0.093-0.22-0.185-0.44-0.274-0.662 c-0.104-0.257-0.214-0.594-0.494-0.712c-0.14-0.06-0.295-0.057-0.445-0.057c-0.555,0-1.11,0.001-1.665,0c-0.163,0-0.326,0-0.489,0 c-0.384,0.001-0.863-0.01-0.954,0.47c-0.053,0.277,0.052,0.572,0.139,0.831C4.433,11.47,4.482,11.583,4.526,11.699z'/%3E%3C/svg%3E");
						}
						&:after {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23b39253'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.988-0.396,5.839-1.179c1.786-0.756,3.39-1.837,4.768-3.214 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Cpath d='M4.526,11.699c0.226,0.589,0.504,1.156,0.791,1.717c0.682,1.333,1.384,2.626,2.326,3.798 c0.951,1.184,2.075,2.33,3.398,3.096c0.368,0.213,0.755,0.393,1.158,0.529c1.555,0.527,3.261,0.477,3.787,0.125 c0.527-0.351-0.1-2.658,0.377-2.934c0.477-0.276,1.328,0.326,1.956,0.877c0.627,0.553,1.104,1.029,1.454,1.404 c0.221,0.236,0.375,0.518,0.662,0.686c0.475,0.277,1.105,0.247,1.635,0.248c0.295,0.002,0.59,0.002,0.885-0.002 c0.199-0.002,0.398,0.004,0.598-0.005c0.328-0.017,0.756-0.146,0.73-0.555c-0.006-0.097-0.027-0.212-0.065-0.302 c-0.083-0.192-0.199-0.392-0.324-0.559c-0.652-0.871-1.085-1.316-1.411-1.668s-1.668-1.618-1.756-1.869 c-0.088-0.25-0.115-0.361,0.134-0.7s0.794-1.193,1.222-1.808c0.267-0.385,0.51-0.788,0.75-1.191 c0.283-0.475,0.549-0.961,0.775-1.466c0.102-0.226,0.193-0.431,0.131-0.684c-0.042-0.169-0.137-0.318-0.314-0.36 c-0.097-0.023-0.203-0.025-0.302-0.025c-0.37,0-1.335,0-1.335,0c-0.175,0-0.35-0.002-0.523-0.002c-0.18,0-0.36-0.001-0.539,0.014 c-0.254,0.021-0.409,0.217-0.537,0.415c-0.156,0.241-0.298,0.493-0.449,0.737c-0.104,0.167-0.205,0.335-0.305,0.505 c-0.156,0.265-0.316,0.526-0.477,0.789c-0.066,0.109-0.133,0.217-0.199,0.327c-0.188,0.313-1.818,2.458-2.145,2.546 s-0.438,0.063-0.438-0.602s0-4.439,0-4.439s-0.024-0.291-0.301-0.291s-1.556,0-1.556,0h-2.64c0,0-0.621,0.002-0.401,0.561 c0.22,0.558,0.869,0.728,0.869,1.659s0,3.649,0,3.649s-0.11,0.817-0.818,0.141c-0.558-0.533-1.019-1.165-1.425-1.818 c-0.423-0.68-0.763-1.387-1.066-2.127c-0.087-0.212-0.173-0.424-0.262-0.635c-0.093-0.22-0.185-0.44-0.274-0.662 c-0.104-0.257-0.214-0.594-0.494-0.712c-0.14-0.06-0.295-0.057-0.445-0.057c-0.555,0-1.11,0.001-1.665,0c-0.163,0-0.326,0-0.489,0 c-0.384,0.001-0.863-0.01-0.954,0.47c-0.053,0.277,0.052,0.572,0.139,0.831C4.433,11.47,4.482,11.583,4.526,11.699z'/%3E%3C/svg%3E");
						}
					}
					&.yb {
						&:before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23dcbe84'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.989-0.396,5.839-1.18c1.786-0.755,3.39-1.836,4.768-3.213 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Cpath d='M18.338,8.784c-1.701-0.05-3.401-0.062-5.102-0.036C8.423,8.84,6.403,8.767,6.161,12.469 c-0.052,1.566-0.056,3.129-0.011,4.695c0.24,4.038,1.535,3.964,7.087,4.09c1.551,0.023,3.102,0.016,4.652-0.023 c3.904-0.107,5.721-0.012,5.962-4.068c0.045-1.564,0.041-3.127-0.011-4.693C23.598,8.751,21.504,8.875,18.338,8.784z M13.196,17.311c-0.01-1.68-0.009-3.359,0.002-5.038c1.561,0.828,3.14,1.681,4.715,2.519C16.34,15.627,14.76,16.48,13.196,17.311z' /%3E%3C/svg%3E");
							}
							&:after {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23b39253'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.989-0.396,5.839-1.18c1.786-0.755,3.39-1.836,4.768-3.213 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Cpath d='M18.338,8.784c-1.701-0.05-3.401-0.062-5.102-0.036C8.423,8.84,6.403,8.767,6.161,12.469 c-0.052,1.566-0.056,3.129-0.011,4.695c0.24,4.038,1.535,3.964,7.087,4.09c1.551,0.023,3.102,0.016,4.652-0.023 c3.904-0.107,5.721-0.012,5.962-4.068c0.045-1.564,0.041-3.127-0.011-4.693C23.598,8.751,21.504,8.875,18.338,8.784z M13.196,17.311c-0.01-1.68-0.009-3.359,0.002-5.038c1.561,0.828,3.14,1.681,4.715,2.519C16.34,15.627,14.76,16.48,13.196,17.311z' /%3E%3C/svg%3E");
							}
					}
					&.inst {
						&:before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23dcbe84'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.988-0.396,5.839-1.179c1.786-0.756,3.39-1.837,4.768-3.214 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Ccircle cx='19.3' cy='10.681' r='0.971'/%3E%3Cpath d='M15,19.217c-2.325,0-4.216-1.893-4.216-4.217c0-2.325,1.892-4.216,4.216-4.216 c2.324,0,4.217,1.892,4.217,4.216C19.217,17.324,17.324,19.217,15,19.217z M15,12.102c-1.598,0-2.898,1.3-2.898,2.898 s1.3,2.898,2.898,2.898s2.898-1.301,2.898-2.898S16.598,12.102,15,12.102z'/%3E%3Cpath d='M17.686,23.438h-5.371c-3.029,0-5.493-2.464-5.493-5.493v-5.889c0-3.029,2.464-5.493,5.493-5.493h5.37 c3.029,0,5.493,2.464,5.493,5.493v5.889C23.178,20.974,20.714,23.438,17.686,23.438z M12.315,7.881 c-2.302,0-4.175,1.873-4.175,4.175v5.889c0,2.302,1.873,4.175,4.175,4.175h5.37c2.302,0,4.175-1.873,4.175-4.175v-5.889 c0-2.302-1.873-4.175-4.175-4.175H12.315z'/%3E%3C/svg%3E");
							}
							&:after {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' vieBox='0 0 30 30' fill='%23b39253'%3E%3Cpath d='M28.821,9.162c-0.755-1.787-1.837-3.391-3.214-4.768s-2.981-2.459-4.768-3.215C18.99,0.397,17.025,0,15,0 c-2.024,0-3.989,0.396-5.838,1.179C7.375,1.935,5.771,3.016,4.394,4.393C3.017,5.771,1.935,7.375,1.179,9.161 C0.397,11.01,0,12.975,0,14.999s0.396,3.989,1.179,5.839c0.755,1.787,1.837,3.391,3.214,4.768c1.377,1.378,2.981,2.459,4.768,3.215 C11.01,29.604,12.975,30,15,30l0,0c2.025,0,3.988-0.396,5.839-1.179c1.786-0.756,3.39-1.837,4.768-3.214 c1.377-1.378,2.458-2.982,3.214-4.768c0.783-1.85,1.18-3.814,1.18-5.839C30,12.976,29.604,11.012,28.821,9.162z M15,28.604 L15,28.604c-3.634,0-7.05-1.416-9.62-3.984c-2.569-2.57-3.984-5.986-3.984-9.62c0-7.5,6.103-13.603,13.604-13.603 c3.634,0,7.05,1.416,9.618,3.985c2.57,2.57,3.984,5.986,3.984,9.62C28.604,22.502,22.5,28.604,15,28.604z'/%3E%3Ccircle cx='19.3' cy='10.681' r='0.971'/%3E%3Cpath d='M15,19.217c-2.325,0-4.216-1.893-4.216-4.217c0-2.325,1.892-4.216,4.216-4.216 c2.324,0,4.217,1.892,4.217,4.216C19.217,17.324,17.324,19.217,15,19.217z M15,12.102c-1.598,0-2.898,1.3-2.898,2.898 s1.3,2.898,2.898,2.898s2.898-1.301,2.898-2.898S16.598,12.102,15,12.102z'/%3E%3Cpath d='M17.686,23.438h-5.371c-3.029,0-5.493-2.464-5.493-5.493v-5.889c0-3.029,2.464-5.493,5.493-5.493h5.37 c3.029,0,5.493,2.464,5.493,5.493v5.889C23.178,20.974,20.714,23.438,17.686,23.438z M12.315,7.881 c-2.302,0-4.175,1.873-4.175,4.175v5.889c0,2.302,1.873,4.175,4.175,4.175h5.37c2.302,0,4.175-1.873,4.175-4.175v-5.889 c0-2.302-1.873-4.175-4.175-4.175H12.315z'/%3E%3C/svg%3E");
							}
					}

				
				&:hover {
					&:before,&:after {@include transform(translate(0,-2px));}
					&:before {
						@include opacity(0);
					}
					&:after {
						@include opacity(1);
					}
				}
			}
		}
		a[href^="mailto:"] {
			color: $color_link;
			text-decoration: none;
			&:hover {
				color: $color_link_hover;
			}
		}
		a {
			text-decoration: none;
			&:hover {text-decoration: none;}
		}
		.contacts__item {
			@include display-flex;
			@include flex-wrap(wrap);
			color: $color_grey;
			p {
				width:50%;
				@include box-sizing(border-box);
				padding-right: 15px;
				margin: 0 0 70px;
				@include breakpoint(tablet-windowscape) {
					margin: 0 0 40px;
				}
				@include breakpoint(phone-landscape1) {
					margin: 0 0 20px;
					width: 100%;
					padding: 0;
				}
				&:nth-of-type(2n) {
					padding-left: 15px;
					padding-right: 0;
					@include breakpoint(phone-landscape1) {
						padding: 0;
					}
				}
				strong {
					@include font(18,24,700);
					color: $color_h;
					display: block;
					@include breakpoint(phone-landscape1) {
						display: inline;
					}
				}
			}
		}
	
	
}

.map {
	overflow: hidden;
	width: 100vw;
	margin-left:calc((100vw - 1170px)/2 * -1);
	margin-top: 30px;
	@include breakpoint(tablet-windowscape) {
		margin-left:calc((100vw - 960px)/2 * -1);
	}
	@include breakpoint(tablet-portrait) {
		margin-left:-15px;
	}	
	iframe {
		width:100%!important;
		@include breakpoint(tablet-portrait) {
			height: 350px!important;
		}
		@include breakpoint(tablet-small-portrait) {
			height: 250px!important;
		}
	}
	+.content {
		margin-top:100px;
		@include breakpoint(tablet-windowscape) {
			margin-top: 70px;
		}
		@include breakpoint(tablet-portrait) {
			margin-top: 50px;
		}
	}
}


.linktext {
	
	h4 {
		@include font(16,24,600);
		margin:0;
	}
	&__item {
		margin:0 0 30px;
		@include font(14,24,300);	
		h3 {
			@include font(18,21,600);
			padding: 0 0 15px;
			margin: 0px 0 15px;
			position: relative;
				&:before {
					@include twins;
					right:-15px;
					left: -15px;
					bottom: 0;
					height: 1px;
					background: #CCCCCC;
				}
		}
		p {
			margin:0 0 5px;
		}
		a {
			color: $color_blue_light;
			&:hover {
				color:$color_link;
			}
		}
	}	
}

.contactsInfo {
	 border-top:1px solid #D0D0D0;
	 border-bottom:1px solid #D0D0D0;
	 padding-top:30px;
	 padding-bottom:30px;
	 @include justify-content(space-between);
	 margin-top:50px;
	 margin-bottom:50px;
	 text-align:center;
	 @include breakpoint(tablet-portrait) {
		margin-top:20px;
		}
	 	.col-xs-12 {
			 &:first-child {
				 p {
					&:last-child {
						text-align:center;
					 }
				 }
			 }
			 p {
				margin:0;
				text-align:center;
				 &:last-child {
					margin:15px 0 0;
					text-align:left;
					@include font(10,18);
					color:#787878;
					@include breakpoint(tablet-portrait) {
						margin:10px 0 30px;
						text-align:center;
					}
				 }
			 }
			 a {
				 color:$color_blue_light;
				 @include font(18,22,300);
				 &.mail {
					padding-left: 25px;
					position: relative;
					display:inline-block;
						&:before {
							@include twins;
							width: 14px;
							height: 12px;
							background: url(#{$img}svg/email.svg) no-repeat;
							left: 0;
							top: 5px;
						}
				}
				&:hover {
					color:$color_link;					
				}
			 }
		 }
		 .social__menu {
			 margin:0 0 15px;
			 @include breakpoint(tablet-portrait) {
				@include flex-all(0 0 auto);
				margin:0 auto 15px;
				max-width:262px;
			}
		 }
}