.equipment {
	
	&.container {
		margin: 50px auto;
		position: relative;
		@include breakpoint(tablet-windows) {
			margin: 80px auto 60px;
		}
		h2,.h2 {
			margin-top:0; 
		}
	}
	.row {
		margin-top: 10px;
		margin-bottom: 30px;
		.equipment__item {
			margin: 0 0 30px;
		}
	}
	&__item {
		border:1px solid transparent;
		@include box-shadow(0px 2px 12px rgba(0, 48, 91, 0.17));
		background: #fff;
		padding: 15px 10px;
		display: block;
		@include transition(all .25s ease);
			.image,.title {
				@include display-flex;
				@include align-content(center);
				@include align-items(center);
				@include justify-content(center);
				width: 100%;
				text-align: center;
			}
			.title {
				color: $color_h;
				@include font(18,21,600);
				text-transform: uppercase;
				margin: 10px 0 0;				
			}
			&:hover {
				border-color: $color_blue_light;
				text-decoration: none;
				@include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			}
	}
}

.equipment-inner {
	@include box-sizing(border-box);
	display: block!important;
	&:after {
		@include clear;
	}
		.image {
			width: 356px;
			float: left;
			margin: 0 30px 30px 0;
			display: block;
			@include box-sizing(border-box);
			@include breakpoint(tablet-small-portrait1) {
				display: block;
				width: 356px;
				margin: 0 0 30px;
				float: none;
			}
			@include breakpoint(phone-landscape1) {
				width: 300px;
				margin: 0 auto 30px;
			}
			.slider-for,.slider-nav {
				width: 100%;
				display: block;
				@include box-sizing(border-box);
				@include breakpoint(tablet-small-portrait1) {
					width: 100%;
					display: block;
				}				
			}
		}
		.text {
			display: block;			
			@include box-sizing(border-box);
			color: #5E5D5B;
			ul {
				overflow: hidden;
				li {
					/*color: #000;
					font-weight: 400;*/
				}
			}
			h2,h3 {
				clear: both;
			}
		}
		.slider-for {
			margin: 0 0 20px;
			@include breakpoint(phone-landscape1) {					
				height: 300px;
				overflow: hidden;
			}
			.slide {		
				display: table;
				height: 356px;	
				@include breakpoint(tablet-small-portrait1) {
					height: 356px;
					display: table;
				}	
				@include breakpoint(phone-landscape1) {
					height: 300px;
				}
					a {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						border: 1px solid #D7D7D7;
						background: #fff;
						@include box-sizing(border-box);
						padding: 5px;
						@include breakpoint(tablet-small-portrait1) {
							
						}
						img {
							display: block;
							margin: 0 auto;
						}
					}
			}
		}
		.slider-nav {
			.slide {	
				margin: 0 15px 0 0;					
				&.slick-current {
					span {
						border-color: $color_blue_light;
					}
				}		
					span {
						display: table-cell;
						cursor: pointer;
						height: 60px;
						width: 60px;
						vertical-align: middle;
						@include transition(all .25s ease);						
						border: 1px solid #D7D7D7;
						background: #fff;
						@include box-sizing(border-box);
						padding: 2px;
						@include breakpoint(phone-landscape1) {	
							height: 45px;
						}
						img {
							max-height: 56px;
							@include breakpoint(phone-landscape1) {	
								max-height: 41px;
							}
						}
					}
			}
		}
}