.interview__source {
	margin-top:30px;
	text-align:center;
		img {
			max-width:190px;
		}	
	@include breakpoint(tablet-small-portrait) {
		text-align:right;
	}
}
.interview {
	margin:80px 0 60px;
	@include breakpoint(tablet-portrait) {
		margin:60px 0 40px;
	}
	@include breakpoint(tablet-small-portrait) {
		margin:40px 0 30px;
	}
	@include display-flex;
	@include flex-wrap(wrap);	
	&__text {
		padding-left: 56px;
		@include flex-all(1 1);
		@include breakpoint(tablet-small-portrait) {
			padding-left: 40px;
		}
		h3 {
			position: relative;
			color: $color_h;
			@include font(18,24,700);
			margin: 0 0 30px;
			@include breakpoint(tablet-small-portrait) {
				margin: 30px 0 15px;
				@include font(16,22,700);
			}
				&:before {
					@include twins;
					width:40px;
					height: 1px;
					background: $color_h;
					left:-56px;
					top:13px;
					@include breakpoint(tablet-small-portrait) {
						left:-40px;
						width:25px;
					}
				}
		}
		p {
			margin: 0 0 20px;
			color: $color_grey;
			@include breakpoint(tablet-small-portrait) {
				margin: 0 0 15px;
			}
		}
	}
	.author {
			@include flex-all(0 0 165px);
			margin-left: 30px;
			text-align:center;
			@include font(14,20);
			color:$color_grey;
			@include breakpoint(tablet-small-portrait) {
				position:relative;
				margin-top:15px;
				margin-left: 0;
				@include display-flex;
				@include align-items(center);
				@include align-content(center);
				@include flex-all(0 0 100%);
			}
				.image {					
					margin:0 auto 10px;
					width: 128px;
					@include breakpoint(tablet-small-portrait) {
						@include flex-all(0 0 128px);
						margin:0 15px 0 0;
					}
						img {
							display:block;
							border-radius:50%;
						}
				}
				.title {
					display:block;
					color:$color_h;
					@include breakpoint(tablet-small-portrait) {
						@include flex-all(1 1);
						@include display-flex;
						@include flex-wrap(wrap);
						text-align: left;
					}
				}
				span {
					display:block;
				}
				a {
					color:$color_grey;
					text-decoration:none!important;
					span {
						color:$color_h;
					}
					&:hover {
						text-decoration:none;
						color:$color_link;
					}
				}
		}
}