.reviews {
	&__item {
		margin-top: 90px;
		@include breakpoint(tablet-portrait) {
			margin-top: 50px;
		}
		h2,.h2 {
			max-width: 50%;
			margin: 0 0 75px;
			@include breakpoint(tablet-portrait) {
				margin: 0 0 50px;
				max-width: inherit;
			}
			@include breakpoint(tablet-small-portrait) {
				margin: 0 0 30px;
			}
		}
		.right {
			@include font(48,48,400,$font4);
			color: $color_h;
			@include breakpoint(tablet-small-portrait) {
				@include font(36,36,400,$font4);
			}
		}
	}
	
}

.descripsion {
	margin-top: 80px;
	margin-bottom: 80px;
	position: relative;
	padding: 50px 0;
	@include breakpoint(tablet-portrait) {
		padding: 50px 0 0;
		margin-top: 50px;
	margin-bottom: 50px;
	}
		&:before {
			@include twins;
			left: 15px;
			right: 15px;
			top: 0;
			display: block!important;
			border-top: 1px solid $color_border;
		}
		&:after {
			@include twins;
			left: 15px;
			right: 15px;
			bottom: 0;
			display: block!important;
			border-bottom: 1px solid $color_border;
		}
		&__item {
			@include display-flex;
			@include align-items(center);
			@include align-content(center);
			@include breakpoint(tablet-portrait) {
				margin: 0 0 50px;
				@include justify-content(center);
			}
				.image {
					@include flex-all(0 0 68px);
					margin-right: 30px;
					text-align: center;
					@include breakpoint(tablet-windowscape) {
						margin-right: 15px;
					}
						img {
							display: block;
							margin: 0 auto;
						}
				}
				.text {
					color: $color_link;
					text-transform: uppercase;
					@include breakpoint(tablet-portrait) {
						@include flex-all(0 0 160px);
					}
					i {
						display: block;
						margin-top: 8px;
						@include font(14,24,700);
						color: $color_h;
						text-transform: none;
						font-style: normal;
					}

				}
		}
}

.reviewList {
	position: relative;
	margin-bottom:25px;
	&:after {
		@include twins;
		border-bottom: 1px solid $color_border;
		left:15px;
		right: 15px;
		bottom: 35px;
		display:block!important;
	}
	.col-xs-12 {
		padding-bottom: 50px;
		margin: 0 0 35px;
		position: relative;
			&:after {
				@include twins;
				border-bottom: 1px solid $color_border;
				left:15px;
				right: 0;
				bottom: 0;				
			}
			&:nth-of-type(2n) {
				&:after {
					left:0;
					right: 15px;
				}
			}
	}
	&__item {
			&__text {
				position: relative;
				clear: both;
				@include display-flex;
				max-height: 280px;
				overflow: hidden;
				margin:0 0 5px;
					&:after {
						@include twins;
						left:0;
						right: 0;
						bottom: 0;
						height: 60%;
						@include simple-gradient(to top, rgba(255,255,255,1), 0%, rgba(255,255,255,0), 100%);
					}
					.text {
						@include flex-all(1 1);
					}
					.review__photos {
						@include flex-all(0 0 98px);
						margin-left:15px;
						margin-top: 10px;
							&__item {
								margin: 0 0 2px;
								img {
									display: block;
								}
							}
					}
			}
			.readmore {

			}
			.title-preview {
				float: left;
				margin: 0 0 20px;
			}
			.review {
				&__author {
					float: right;
					@include font(24,26,400,$font4);
					color: $color_h;
					margin: 0 0 20px;
					@include breakpoint(tablet-small-portrait) {
						@include font(20,22,400,$font4);
					}
				}
				&__source {
					float: right;
						img {
							max-height: 22px;
							width: auto;
						}
				}
			}
	}
	+.more {
		margin-top: -61px!important;
		position: relative;
	}
}

.review {	
	&__author {
		@include font(48,50,400,$font4);
		color: $color_h;
		margin: 0 0 20px;
		text-align: right;
		@include align-items(center);
		@include align-content(center);	
		@include justify-content(flex-end);	
		@include display-flex;
		@include breakpoint(tablet-small-portrait) {
			@include font(30,32,400,$font4);
			@include order(0);
		}
		@include breakpoint(tablet-small-portrait) {
			@include font(24,26,400,$font4);
		}
	}
	&__source {
		margin-bottom: 20px;
		@include align-items(center);
		@include align-content(center);	
		@include display-flex;
		@include breakpoint(tablet-small-portrait) {
			@include order(1);
		}
			img {
				max-height: 35px;
				width: auto;
				display: block;
			}
	}
}