.searchResult {
	&__item {
		margin:40px 0;
		
		@include breakpoint(tablet-portrait) {	
			margin:30px 0;
			padding:15px;
		}
		a {
			display:block;
			background:#fff;
			@include box-shadow(0px 2px 12px rgba(0, 48, 91, 0.17));
			padding:15px 30px;
			color:#5E5D5B;
			border: 1px solid transparent;
			span {
				display:block;
			}
			h4,.h4,.title {
				@include font(24,29,300);
				padding:0 0 15px;
				margin:0 0 15px;
				color:$color_blue_light;
				border-bottom:1px solid #D8D8D8;	
				@include breakpoint(tablet-portrait) {	
					@include font(20,23,300);
				}		
			}
			&:hover {
				text-decoration: none;
				color:#5E5D5B;
				border-color:$color_blue_light;
				h4,.h4,.title {
					color:$color_blue_light;
				}
			}
		}
			
			b,strong {
				font-weight:600;
			}
			p {
				margin:0;
				color:#5E5D5B;
			}
	}
}
.searchText {
	margin:0 0 20px;
	position:relative;
	width:50%;
	@include breakpoint(tablet-portrait) {	
		width:auto;
	}
		input[type="text"] {
			padding-right:30px;
			border-color:rgba(0,0,0,.1);
			height:48px;
			@include breakpoint(tablet-portrait) {	
				height:38px;
			}
		}
		input[type="submit"],button {
			border: none;
		width: 16px;
		height: 16px;
		background: url(#{$img}svg/lupa-blue.svg) transparent no-repeat center;
		cursor: pointer;
		position: absolute;
		top:17px;
		right:20px; 
		padding: 0;
		text-indent:-9999px;
		overflow:hidden;
		@include breakpoint(tablet-portrait) {
			right:15px; 
			top:10px;
		}
		&:hover {			
			background-color: transparent;
			background:transparent url(#{$img}svg/lupa-blue.svg) no-repeat center;
			@include opacity(.7);
			&:before {
				display: none;
			}
		}
		}
}