.services {
	&.container {
		margin: 80px auto;
		position: relative;
		@include breakpoint(tablet-windows) {
			margin: 130px auto;
		}
		@include breakpoint(tablet-portrait) {
			margin: 80px auto 50px;
		}
		@include breakpoint(tablet-small-portrait1) {					
			margin: 50px auto 20px;
		}
	}
	h2,.h2 {
		margin: 0 0 40px;
		width: 70%;
		@include breakpoint(tablet-windows) {
			margin: 0 0 100px;
			width: 50%;
		}
		@include breakpoint(tablet-portrait) {
			width: 100%;
		}
		@include breakpoint(tablet-small-portrait) {
			margin: 0 0 20px;
		}
	}
	.col-xs-6 {
		@include breakpoint(phone-landscape) {			
			width: 100%;
		}
	}
	&__item {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 452px;
		color: #fff;
		text-decoration: none;
		display: block;
		position: relative;
		@include breakpoint(tablet-portrait) {
			margin: 0 0 30px;
		}
		@include breakpoint(phone-landscape) {
			height: 350px;
		}
		&:before {
			height: 30%;
			left:0;
			right: 0;
			bottom: 0;
			z-index: 0;
			@include simple-gradient(to top, $color_blue, 0%, transparent, 100%);
			@include twins;
			@include opacity(.8);
		}
		&:after {
			top: 0;
			left:0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background: $color_blue;
			@include twins;
			@include opacity(0);
			@include transition(all .3s ease);
			@include breakpoint(tablet-portrait) {
				display: none;
			}
		}
		.title {
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 60px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			@include font(24,26,700);
			display: block;
		}
		.title-hover {
			padding: 50px 15px 0;
			position: relative;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			margin: 0px 0 40px;
			@include font(24,26,700);
			@include opacity(0);
			@include transition(all .3s ease);
			@include transform(translate(0,15px));
			display: block;		
			@include breakpoint(tablet-portrait) {
				display: none;
			}
		}
		.desc {
			padding: 0 15px;
			position: relative;
			@include opacity(0);
			@include transform(translate(0,15px));
			@include transition(all .3s ease);
			text-align: center;
			display: block;
			@include font(16,20);
			@include breakpoint(tablet-windowscape) {
				@include font(14,18);
			}
			@include breakpoint(tablet-portrait) {
				display: none;
			}
				a {
					display: block;
					margin: 7px 0;
					color: #fff;
					text-decoration: none;
						&:hover {
							color:$color_link;
							text-decoration: none;
						}
				}
		}
		.more {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 20px 0;
			text-align: center;
			text-transform: uppercase;
			border-top: 1px solid rgba(255,255,255,.1);
			@include transform(translate(0,15px));
			@include opacity(0);
			@include transition(all .3s ease);
			a {
				color: #fff;
				&:hover {
					color:$color_link;
				}
				@include breakpoint(tablet-portrait) {
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					top:0;
					text-indent: -9999px;
					overflow: hidden;
					cursor: pointer;
					z-index: 2;
				}
			}
			@include breakpoint(tablet-portrait) {
				right: 0;
				bottom: 0;
				left: 0;
				top:0;
				padding: 0;
			}
		}
		&:hover {
			color: #fff;
			text-decoration: none;
			&:after {
				@include opacity(.8);
				z-index: 1;
			}
			.title-hover,.desc,.more {
				@include opacity(1);
				z-index: 2;
				@include transform(translate(0,0px));
			}
		}
	}
}