/*region Heading*/
.ui-title-1,
.ui-title-2,
.ui-title-3 {
	color: #333;
	font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-title-4,
.ui-title-5,
.ui-title-6 {
	color: #333;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-title-7,
.ui-title-8,
.ui-title-9 {
	color: #333;
	font-family: "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-title-1 {
	margin-bottom: 15px;
	font-size: 27px;
	line-height: 37px;
}

.ui-title-2 {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 32px;
}

.ui-title-3 {
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 28px;
}

.ui-title-4 {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 22px;
}

.ui-title-5 {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 19px;
}

.ui-title-6 {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 21px;
}

.ui-title-7 {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
}

.ui-title-8 {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 16px;
}

.ui-title-9 {
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 16px;
}

/* endregion */

/*region Paragraph*/
.ui-text-1,
.ui-text-2,
.ui-text-3,
.ui-text-4 {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-text-1 {
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 21px;
}

.ui-text-2 {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}

.ui-text-3 {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 18px;
}

.ui-text-4 {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
}

/* endregion */

/*region Alignment text*/
.ui-text-left { text-align: left; }

.ui-text-center { text-align: center; }

.ui-text-right { text-align: right; }

/* endregion */

/*region Text color*/
.ui-color-dark { color: #333; }

.ui-color-medium { color: #515c69; }

.ui-color-light { color: #858c96; }

/* endregion */

/*region Background color*/
.ui-bg-color-dark { background-color: #535c69; }

.ui-bg-color-medium { background-color: #eef2f4; }

.ui-bg-color-light { background-color: #f8f9fa; }

.ui-bg-color-white { background-color: #fff; }

/* endregion */

/*region Horizontal line*/
.ui-hr {
	margin: 5px 0 15px;
	height: 1px;
	border: none;
	background: #edeef0;
}

/* endregion */

/*region margin &  paddings */
.ui-m-0,
.ui-mt-0,
.ui-mv-0 {margin-top: 0;}

.ui-m-0,
.ui-mb-0,
.ui-mv-0 {margin-bottom: 0;}

.ui-m-0,
.ui-mh-0,
.ui-ml-0 {padding-left: 0;}

.ui-m-0,
.ui-mh-0,
.ui-mr-0 {margin-right: 0;}

.ui-mt-5,
.ui-mv-5 { margin-top: 5px; }

.ui-mt-10,
.ui-mv-10 { margin-top: 10px; }

.ui-mt-15,
.ui-mv-15 { margin-top: 15px; }

.ui-mt-20,
.ui-mv-20 { margin-top: 20px; }

.ui-mt-25,
.ui-mv-25 { margin-top: 25px; }

.ui-mb-5,
.ui-mv-5 { margin-bottom: 5px; }

.ui-mb-10,
.ui-mv-10 { margin-bottom: 10px; }

.ui-mb-15,
.ui-mv-15 { margin-bottom: 15px; }

.ui-mb-20,
.ui-mv-20 { margin-bottom: 20px; }

.ui-mb-25,
.ui-mv-25 { margin-bottom: 25px; }

/**/

.ui-p-0,
.ui-pt-0,
.ui-pv-0 {padding-top: 0;}

.ui-p-0,
.ui-pb-0,
.ui-pv-0 {padding-bottom: 0;}

.ui-p-0,
.ui-ph-0,
.ui-pl-0 {padding-left: 0;}

.ui-p-0,
.ui-ph-0,
.ui-pr-0 {padding-right: 0;}

.ui-p-5,
.ui-pt-5,
.ui-pv-5 { padding-top: 5px; }

.ui-p-10,
.ui-pt-10,
.ui-pv-10 { padding-top: 10px; }

.ui-p-15,
.ui-pt-15,
.ui-pv-15 { padding-top: 15px; }

.ui-p-20,
.ui-pt-20,
.ui-pv-20 { padding-top: 20px; }

.ui-p-25,
.ui-pt-25,
.ui-pv-25 { padding-top: 25px; }

.ui-p-5,
.ui-pb-5,
.ui-pv-5 { padding-bottom: 5px; }

.ui-p-10,
.ui-pb-10,
.ui-pv-10 { padding-bottom: 10px; }

.ui-p-15,
.ui-pb-15,
.ui-pv-15 { padding-bottom: 15px; }

.ui-p-20,
.ui-pb-20,
.ui-pv-20 { padding-bottom: 20px; }

.ui-p-25,
.ui-pb-25,
.ui-pv-25 { padding-bottom: 25px; }

.ui-p-5,
.ui-pl-5,
.ui-ph-5 { padding-left: 5px; }

.ui-p-10,
.ui-pl-10,
.ui-ph-10 { padding-left: 10px; }

.ui-p-15,
.ui-pl-15,
.ui-ph-15 { padding-left: 15px; }

.ui-p-20,
.ui-pl-20,
.ui-ph-20 { padding-left: 20px; }

.ui-p-25,
.ui-pl-25,
.ui-ph-25 { padding-left: 25px; }

.ui-p-5,
.ui-pr-5,
.ui-ph-5 { padding-right: 5px; }

.ui-p-10,
.ui-pr-10,
.ui-ph-10 { padding-right: 10px; }

.ui-p-15,
.ui-pr-15,
.ui-ph-15 { padding-right: 15px; }

.ui-p-20,
.ui-pr-20,
.ui-ph-20 { padding-right: 20px; }

.ui-p-25,
.ui-pr-25,
.ui-ph-25 { padding-right: 25px; }

/* endregion */

/*region Lists*/
.ui-list {
	margin: 0 0 15px;
	padding: 0;
}

.ui-list li {
	margin-bottom: 15px;
	padding-left: 27px;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-list-icon { list-style-type: none; }

.ui-list-icon li {
	position: relative;
	margin-bottom: 20px;
}

.ui-list-icon li:after {
	position: absolute;
	top: 2px;
	left: 0;
	z-index: 1;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #2fc6f6;
	content: '';
}

.ui-list-icon li:before {
	position: absolute;
	top: 7px;
	left: 5px;
	z-index: 5;
	box-sizing: border-box;
	width: 8px;
	height: 5px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	background-color: transparent;
	content: '';
	transform: rotate(-45deg);
}

/* endregion */

/* region Additional */

.ui-form-additional {
	background: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	position: relative;
	padding: 22px 27px 22px 26px;
}

.ui-form-additional:before {
	content: "";
	width: 11px;
	height: 8px;
	position: absolute;
	left: 8px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.002%204.669L10.244.426%2011.66%201.84%207.416%206.083%206.002%207.497.345%201.84%201.759.426%206.002%204.67z%22/%3E%3C/svg%3E) no-repeat center;
	top: 27px;
}

.ui-form-additional-more {
	color: #525c69;
	font-weight: 700;
	margin-right: 8px;
}

.ui-form-additional-promo-list {
	color: #828b95;
	font-size: 0;
}

.ui-form-additional-promo-list:before {
	content: '(';
	font-size: 14px;
}

.ui-form-additional-promo-list:after {
	content: ')';
	font-size: 14px;
}

.ui-form-additional-promo-item {
	margin-right: 5px;
	font-size: 14px;
}

.ui-form-additional-promo-item:first-child {
	margin-left: 4px;
}

.ui-form-additional-promo-item:after {
	content: ",";
}

.ui-form-additional-promo-item:last-child:after {
	content: none;
}

/* endregion */