/*$img: "Images/";*/

$img: "../img/";
$icons: url(#{$img}icons.png);
$color_text1: #000;
$color_text:#747d87;
$color_text_blue: #404f5e;
$color_h: #032a58;
$color_link: #dcbe84;
$color_link_hover: #b39253;
$color_f: rgba(255,255,255,.7);
$color_grey: #747d87;
$color_blue: #032a58;
$color_green:#0fbaa1;
$color_red: #ec382e;
$color_yellow:#fbbd02;
$color_purple: #c7138b;
//$color_blue_light: #29b5de;
$color_blue_light: #00A9E3;

$color_input_border: #f1f1f1;
$color_border:#f1f1f1;
$font1:'Cera Pro';
$font2:'Cera Pro';
$font3:'Arial', sans-serif;
$font4: 'Aquarelle';

$transition-duration: 0.3s;
$transition-delay: 0.2s;
$transition-ease: cubic-bezier(0.83,0.02,0,1);
$animation-duration: 1s;