html,
body {
	//height: 100%;
	overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

html {
	
}

body {
	background: #fff;
	color: $color_text;
	overflow: hidden;
	font: normal 16px $font1;
	/*@include breakpoint(tablet-small-portrait1) {
		font: normal 15px $font1;
	}*/
}
* {	
	&:hover,&:active,&:focus {
		outline: none;
		outline: 0;
	}
}

#outer {
	overflow: hidden;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	@include breakpoint(tablet-windowscape) {
		max-width: 960px;
	}	
	&:after {
		@include clear;
	}
}
.vw-container {
	width: 100vw;
	margin-left:calc((100vw - 1155px)/2 * -1);
	@include breakpoint(tablet-windowscape) {
		margin-left:calc((100vw - 975px)/2 * -1);
	}
	@include breakpoint(tablet-portrait) {
		margin-left:-15px;
	}	
}
#body {
	&.container {
		position: relative;			
	}
	.more {
		padding: 25px 0;
		border-top:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
		margin:50px 0;
			a,span {
				margin-right: 70px;
				@include breakpoint(tablet-small-portrait1) {
					margin-right: 15px;
				}
				@include breakpoint(phone-landscape1) {
					margin-right: 10px;
				}
			}
	}
}
.mobile-nav {
	display: none;
	@include breakpoint(tablet-portrait) {
		display: block;
	}	
}
.b-tab {
	.box {
		position: absolute;
		@include opacity(0);
		@include transition(all .25s ease);	
		width: 100%;
		overflow: hidden;
		z-index: 0;
		//top: 0;
		z-index: -1;
		height: 0;
		&.active {
			position: relative;
			@include opacity(1);
			overflow: visible;
			z-index: 1;
			display: block;
			height: auto;
			//top: auto;
		}
		&.content {
			margin: 0;
		}
	}
}

.header-title {
	margin-bottom:10px;
	width: 100vw;
	margin-left:calc((0 - 1)*(-1140px + 100vw)/2);
	position: relative;
	overflow: hidden;
	@include breakpoint(tablet-windowscape) {
		margin-left:calc((0 - 1)*(-960px + 100vw)/2);
	}
	@include breakpoint(tablet-portrait) {
		margin: 0 -15px;
		width: auto;
	}
	@include breakpoint(phone-landscape) {
		background: none!important;
	}
	.container {
		padding:0;
		@include breakpoint(tablet-portrait) {
			padding: 0 15px;
		}
	}
	&.inner {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 40px;
		@include breakpoint(phone-landscape) {
			background: none!important;
			margin-bottom: 0px;
		}
	}
}
.h1-bg {	
	background-size: cover;
	background-position: center center;
	background-color: #032a58;
	padding: 250px 0;
	position: relative;
	color: #fff;
	margin:0 0 60px;
	@include breakpoint(tablet-windowscape) {
		padding:200px 0;
	}
	@include breakpoint(tablet-small-portrait) {
		padding: 80px 0;
		margin:0 0 40px;
	}
	&:after {
		@include twins;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.4);		
		z-index:0;
	}
	.date {
		color:#fff;
		text-align:center;
		position:relative;
		z-index:1;
		font-weight:bold;
	}
	h1 {
		margin:0 auto;
		color:#fff;
		text-align:center;
		position:relative;
		z-index:1;
	}
}
.loaderArea {
  background: #0a161f;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
	z-index: 100000;

	display: none; // по умолчанию - скрыто, показываем скриптом
	//@include display-flex;
	@include align-items(center);
	@include transition(all 1s ease);
	overflow: visible;
		.loader {
			max-width: 700px;
			padding: 0 15px;
			margin: 0 auto;
			color: #fff;
			text-align: center;
			@include transition(all .3s ease);
			@include opacity(.8);
				p {
					text-transform: uppercase;
					color: #fff;
					@include font(24,26);
					margin: 0;
					@include transition(all 2s ease);
					animation: fadeIn 3s alternate ease-in-out;
				}
				.title {
					@include transition(all 2s ease);
					animation: fadeIn 3s alternate ease-in-out;
					margin: 0;
					@include font(32,48,700);
					color: #fff;
					text-transform: uppercase;
					margin: 10px 0 0;
				}
		}
}
/*.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}*/