html,
body {
	height: auto;
}

.menuTop {
	height: 5px;
	background: #666;
	position: relative!important;
	left: auto!important;
	top: auto!important;
	.container {
		display: none;
	}
}

h1,
.h1,
.author,
.date,
.content ol li::before {
	color: #000!important;
}

.content ul li::before {
	background: #666;
}

#header {
	.callback {
		display: none;
	}
	.top {
		display: block;
		padding: 15px;
		.logo {
			display: block;
			float: left;
			position: relative;
			left: auto;
			top: auto;
			margin: 0;
		}
		.contacts {
			float: right;
		}
		.phone {
			float: right;
			width: auto;
		}
	}
}

#body {
	&.section,
	&.company,
	&.contacts,
	&.page {
		background: none!important;
	}
	.content {
		table {
			border: 1px solid #ccc;
			tr th {
				background: #f5f5f5!important;
				color: #000!important;
				border-color: #ccc!important;
			}
		}
	}
}

#toTop,
.btn,
.bannerInner,
.reviews-collapse,
.nonprint,
#panel,
.bx-context-toolbar-empty-area,
.back,
.catalogInner,
.social,
.formLinks,
.inner .catalogTop,
.divForm,
form,
.versionPrint,
.share,
.infodesign {
	display: none!important;
}

#body {
	min-height: inherit!important;
}

.ravno {
	height: auto!important;
}

.printBtn {
	display: block;
	text-align: center;
}

blockquote:before {
	background:url(#{$img}quote-blk.png) no-repeat!important;
}

#footer {
	border-top: 2px solid #888;
	background: #fff;
	color: #777!important;
	padding: 15px 0;
	.contacts {
		margin: 0 0 5px;
		.title {
			color: #777!important;
			margin: 0 0 5px;
		}
		p {
			margin: 0;
		}
	}
	a {
		color: #777!important;
	}
	p {
		margin: 0;
	}
	.menuBottom,
	.infoBlock {
		display: none;
	}
	.copyRight {
		color: #777!important;
		p {
			&:last-child {
				display: none;
			}
		}
	}
}

img {
	@include grayscale();
}

.slick-track {
	width: auto!important;
	height: auto!important;
	text-align: center;
	.slider-card__item {
		width: 48%!important;
		display: inline-block!important;
		margin: 0 5px 10px;
		left: auto!important;
		top: auto!important;
		opacity: 1!important;
		height: auto!important;
		min-height: inherit!important;
	}
}

.slider-nav,
.wbl-catalog-detail-same-products,
.more,
.sorting,
.btns-grid {
	display: none!important;
}

.product__Info {
	border-color: #666;
}

.product__Info .sale strong,
.product__Info .col-xs-6 span,
.product__Tab h3,
.product__Tab table td,
.content .contacts h3,
.product__Info .price,
.product__Info .sale,
a,
.catalog__Item .price {
	color: #000!important;
}

.catalog__Item .price {
	padding-bottom: 20px;
}