<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Ведров Олег Вячеславович</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="icon" href="../../../../img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet"/>
	<link rel="stylesheet" href="../assets/css/_bundle.css" />
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<link rel="stylesheet" href="../assets/css/ie.css" />
	<![endif]-->
</head>

<body class="inner">
	<div id="outer">
		<header class="header">
			<div class="header__inner">
        <div class="container">
					<div class="logo">
						<a href="">
							<img src="../../../../img/logo.png" alt="Ведров Олег Вячеславович"/>
						</a>
					</div>
					<div class="phone">
						<a href="tel:+74951234567">+7 (495) 123-45-67</a>
						<span class="name">Ведров Олег<br/> Вячеславович</span>
						<div class="awards">
								<a href="">
									<i class="ico ico-award"></i>
									<span>Все награды хирурга</span>
								</a>
						</div>
					</div>
					<span id="nav_dropdown"><span></span></span>
					<div class="menuTop">
						<ul class="nav_menu">
							<li><a href="">О докторе</a></li>
							<li><span>Услуги</span>
								<div class="submenu">
										<ul class="submenu__item cols">
											<li>
												<a href="" class="title">Грудь</a>
												<ul>
													<li><a href="">Увеличение груди</a></li>
													<li><a href="">Уменьшение груди</a></li>
													<li><a href="">Подтяжка груди</a></li>
													<li><a href="">Увеличение груди с подтяжкой</a></li>
													<li><a href="">Липофилинг груди </a></li>
													<li><a href="">Реконструкция груди имплантом</a></li>
													<li><a href="">Реконструкция груди экспандером</a></li>
													<li><a href="">Реконструкция груди ТРАМ/Diep - лоскутом</a></li>
													<li><a href="">Реконструкция соска</a></li>
													<li><a href="">Коррекция втянутых сосков</a></li>
													<li><a href="">Коррекция гинекомастии</a></li>
													<li><a href="">Удаление фиброаденом </a></li>
													<li><a href="">Удаление добавочных долек молочных желёз</a></li>
													<li><a href="">Подкожная мастэктомия+реконструкция</a></li>
													<li><a href="">Радикальная мастэктомия</a></li>
													<li><a href="">Онкопластическая резекция молочной железы</a></li>
												</ul>
											</li>
											<li>
													<a href="" class="title">Тело</a>
													<ul>
														<li><a href="">Абдоминопластика</a></li>
														<li><a href="">Миниабдоминопластика</a></li>
														<li><a href="">Подтяжка рук</a></li>
														<li><a href="">Подтяжка ног</a></li>
														<li><a href="">Подтяжка тела после массивного похудения</a></li>
														<li><a href="">Липофилинг ягодиц</a></li>
														<li><a href="">Интимная пластика (Мпг)</a></li>
													</ul>
											</li>
											<li>
													<a href="" class="title">Лицо</a>
													<ul>
														<li><a href="">Верхняя блефаропластика</a></li>
														<li><a href="">Нижняя блефаропластика</a></li>
														<li><a href="">Отопластика</a></li>
														<li><a href="">Удаление комков Биша</a></li>
														<li><a href="">Липофилинг губ (носогубных складок)</a></li>
													</ul>
											</li>
											<li>
													<a href="" class="title">Липо</a>
													<ul>
														<li><a href="">VASER-липосакция</a></li>
														<li><a href="">Липосакция лица</a></li>
														<li><a href="">Липосакция бедер</a></li>
														<li><a href="">Липосакция коленей</a></li>
														<li><a href="">Липосакция рук</a></li>
														<li><a href="">Липосакция боков</a></li>
														<li><a href="">Липосакция живота</a></li>
														<li><a href="">Липосакция у мужчин</a></li>
														<li><a href="">Липосакция подбородка</a></li>
														<li><a href="">Липосакция ягодиц</a></li>
														<li><a href="">Липосакция ног</a></li>
														<li><a href="">Липосакция щек</a></li>
														<li><a href="">Липосакция галифе</a></li>
													</ul>
											</li>
										</ul>
								</div>
							</li>
							<li><a href="">Цены</a></li>
							<li><a href="">Фото работ</a></li>
						</ul>
						<ul class="nav_menu">
							<li><a href="">Акции</a></li>
							<li class="act"><span>Полезное</span>
								<div class="submenu">
									<ul class="submenu__item">
										<li><a href="">Спецпроекты</a></li>
										<li class="act"><a href="">Советы</a></li>
										<li><a href="">Истории пациентов</a></li>
										<li><a href="">Видео</a></li>
										<li><a href="">Довольные пациенты</a></li>
										<li><a href="">Блог</a></li>
										<li><a href="">Новости</a></li>
										<li class="act"><a href="">Интервью</a></li>
									</ul>
								</div>
							</li>
							<li><a href="">Консультации</a>
								<div class="submenu">
									<div class="submenu__item row row-f">
										<div class="text col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
											<div class="h3">Консультация онлайн</div>
											<p>Вы можете задать свой вопрос онлай и хирург в течение 3 дней ответит на него.</p>
											<div class="more"><a href="" class="arrow">Задать вопрос онлайн</a></div>
										</div>
										<div class="form col-xs-12 col-sm-6 col-md-5 col-lg-4">
												<form>
													<div class="formField">
														<input type="text" placeholder="Ваше имя*"/>
													</div>
													<div class="formField">
															<input type="text" placeholder="Номер телефона*"/>
													</div>
													<button class="btn">Перезвоните мне</button>
												</form>
										</div>
									</div>
								</div>
							</li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="shadow"></div>
		</header>
		<section id="body" class="container">
			<div class="submenu">
				<ul class="submenu__item">
					<li><a href="">Спецпроекты</a></li>
					<li><a href="">Советы</a></li>
					<li><a href="">Истории пациентов</a></li>
					<li><a href="">Видео</a></li>
					<li><a href="">Довольные пациенты</a></li>
					<li><a href="">Блог</a></li>
					<li><a href="">Новости</a></li>
					<li class="act"><a href="">Интервью</a></li>
				</ul>
			</div>
			<div class="mobile-nav">
					<nav class="navigator"><a href="">Главная</a><span>-</span>Интервью</nav>
					<div class="h1-title">Интервью</div>
					<h1>Интервью</h1>
			</div>
			<div class="content">

				<div class="row row-f blog">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="/vov/sovet-inner.html" class="blog__item">
								<span class="image"><img src="../../../../img/interview01.png" alt=""/></span>
								<span class="title">190*80 давай сделаем размер картинки для вставки в информер и я уже потом буду подгонять все картинки под такой размер</span>

							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="" class="blog__item">
									<span class="image"><img src="../../../../img/interview02.png" alt=""/></span>
									<span class="title">Эксклюзивное интервью с пластическим хирургом названием интервью какое-то</span>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="" class="blog__item">
									<span class="image"><img src="../../../../img/interview01.png" alt=""/></span>
									<span class="title">Можно ли летом делать пластику верхних век?</span>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="" class="blog__item">
									<span class="image"><img src="../../../../img/interview02.png" alt=""/></span>
									<span class="title">Можно ли летом делать пластику верхних век?</span>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="" class="blog__item">
									<span class="image"><img src="../../../../img/interview01.png" alt=""/></span>
									<span class="title">С какого возраста лучше начинать делать липосакцию женщинам?</span>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="" class="blog__item">
									<span class="image"><img src="../../../../img/interview02.png" alt=""/></span>
									<span class="title">С какого возраста лучше начинать делать пластику груди?</span>
								</a>
							</div>
				</div>
				<div class="paging"><strong>1</strong><a href="">2</a><a href="">3</a></div>
			</div>
		</section>



<div class="mobile-bar">
	<a href="tel:+74951234567" class="mobile-bar__item" title="Позвонить в клинику">
			<img src="../../../../img/svg/foot-phone.svg" width="20" height="20" alt=""/>
		Позвонить
	</a>
	<a href="/" class="mobile-bar__item" title="Специальные предложения">
			<img src="../../../../img/svg/percent.svg" width="20" height="20" alt=""/>
		Акции
	</a>
	<a href="whatsapp://send?phone=+74951234567" class="mobile-bar__item" title="Написать в WhatsApp">
		<img src="../../../../img/svg/whatsup.svg" width="20" height="20" alt=""/>
			WhatsApp
	</a>
	<a href="viber://chat?number=74951234567" class="mobile-bar__item" title="Написать в Viber">
		<img src="../../../../img/svg/viber.svg" width="20" height="20" alt=""/>
		Viber
</a>
</div>

		<footer class="footer post-up">
			<div class="container">
				<div class="footer__logos">
					<div class="h3">Отзывы о хирурге в интернете</div>
					<div class="sliderLogos js-slider-logos str_wrap">
						<a href=""><img src="../../../../img/logos/logo01.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo02.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo03.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo04.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo05.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo06.png" alt=""/></a>
				</div>
			</div>
				<div class="footer__contacts row row-f">
					<div class="footer__contacts__item col-xs-12 col-sm-6">
							<div class="ico ico-phone"></div>
							<div class="footer__contacts__item__text">
								<span class="title">Телефон</span>
								<a href="tel:+74951234567">+7 (495) 123-45-67</a>
							</div>
					</div>
					<div class="footer__contacts__item col-xs-12 col-sm-6">
							<div class="ico ico-mail"></div>
							<div class="footer__contacts__item__text">
								<span class="title">Почта</span>
								<a href="mailto:info@dr-vedrov.ru">info@dr-vedrov.ru</a>
							</div>
					</div>
				</div>
				<div class="row footer__menu">
					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Грудь
						</div>
						<ul>
							<li><a href="">Увеличение груди</a></li>
							<li><a href="">Уменьшение груди</a></li>
							<li><a href="">Подтяжка груди</a></li>
							<li><a href="">Липофилинг груди </a></li>
							<li><a href="">Реконструкция груди</a></li>
							<li><a href="">Коррекция сосков</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Тело
						</div>
						<ul>
							<li><a href="">Абдоминопластика</a></li>
							<li><a href="">Миниабдоминопластика</a></li>
							<li><a href="">Подтяжка рук </a></li>
							<li><a href="">Подтяжка ног</a></li>
							<li><a href="">Подтяжка тела после массивного похудения </a></li>
							<li><a href="">Липофилинг ягодиц</a></li>
							<li><a href="">Интимная пластика (Мпг)</a></li>
						</ul>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Лицо
						</div>
						<ul>
							<li><a href="">Верхняя блефаропластика</a></li>
							<li><a href="">Нижняя блефаропластика</a></li>
							<li><a href="">Отопластика</a></li>
							<li><a href="">Удаление комков Биша</a></li>
							<li><a href="">Липофилинг губ (носогубных складок)</a></li>
						</ul>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Липо
						</div>
						<ul>
							<li><a href="">VASER-липосакция</a></li>
							<li><a href="">Липосакция лица</a></li>
							<li><a href="">Липосакция бедер</a></li>
							<li><a href="">Липосакция коленей</a></li>
							<li><a href="">Липосакция рук</a></li>
							<li><a href="">Липосакция боков</a></li>
							<li><a href="">Липосакция живота</a></li>
							<li><a href="">Липосакция у мужчин</a></li>
							<li><a href="">Липосакция подбородка</a></li>
							<li><a href="">Липосакция ягодиц</a></li>
							<li><a href="">Липосакция ног</a></li>
							<li><a href="">Липосакция щек</a></li>
							<li><a href="">Липосакция галифе</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-9">
							<ul class="menu">
									<li><a href="">О докторе</a></li>
									<li><a href="">Цены</a></li>
									<li><a href="">Фото работ</a></li>
									<li><a href="">Акции</a></li>
									<li><a href="">Полезное</a></li>
									<li><a href="">Консультации</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
					</div>
					<div class="col-xs-12 col-md-3">
							<div class="social">
									<a href=""><img src="../../../../img/svg/yb.svg#white" width="30" height="30px" alt=""/></a>
									<a href=""><img src="../../../../img/svg/vk.svg#white" width="30" height="30px" alt=""/></a>
									<a href=""><img src="../../../../img/svg/instagram.svg#white" width="30" height="30px" alt=""/></a>
								</div>
					</div>

				</div>




				<div class="row row-f footer__bottom">
						<div class="col-xs-12 col-sm-5 col-md-5 copyright">
							<p>Официальный сайт пластического хирурга <br/>Ведрова Олега Вячеславовича © 2019</p>
						</div>
						<div class="col-xs-3 col-sm-2 col-md-2 logo">
							<a href=""><img src="../../../../img/logo-wht.png" alt=""/></a>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-3 col-md-offset-2 links">
							<ul>
								<li><a href="">Лицензия</a></li>
								<li><a href="">Карта сайта</a></li>
							</ul>
						</div>
					</div>
			</div>
		</footer>
		<div id="toTop"></div>
	</div>


	<script src="../assets/js/_bundle.js"></script>

</body>

</html>