<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Ведров Олег Вячеславович</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="icon" href="../../../../img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
	<link rel="stylesheet" href="../assets/css/_bundle.css" />
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<link rel="stylesheet" href="../assets/css/ie.css" />
	<![endif]-->
</head>

<body class="main">
	<div id="outer">
		<header class="header">
			<div class="header__inner">
        <div class="container">
					<div class="logo">
						<a href="">
							<img src="../../../../img/logo.png" alt="Ведров Олег Вячеславович"/>
						</a>
					</div>
					<div class="phone">
						<a href="tel:+74951234567">+7 (495) 123-45-67</a>
						<span class="name">Ведров Олег<br/> Вячеславович</span>
						<div class="awards">
								<a href="">
									<i class="ico ico-award"></i>
									<span>Все награды хирурга</span>
								</a>
						</div>
					</div>
					<span id="nav_dropdown"><span></span></span>
					<div class="menuTop">
						<ul class="nav_menu">
							<li><a href="">О докторе</a></li>
							<li class="act"><span>Услуги</span>
								<div class="submenu">
										<ul class="submenu__item cols">
											<li class="act">
												<a href="" class="title">Грудь</a>
												<ul>
													<li class="act"><a href="">Увеличение груди</a></li>
													<li><a href="">Уменьшение груди</a></li>
													<li><a href="">Подтяжка груди</a></li>
													<li><a href="">Увеличение груди с подтяжкой</a></li>
													<li><a href="">Липофилинг груди </a></li>
													<li><a href="">Реконструкция груди имплантом</a></li>
													<li><a href="">Реконструкция груди экспандером</a></li>
													<li><a href="">Реконструкция груди ТРАМ/Diep - лоскутом</a></li>
													<li><a href="">Реконструкция соска</a></li>
													<li><a href="">Коррекция втянутых сосков</a></li>
													<li><a href="">Коррекция гинекомастии</a></li>
													<li><a href="">Удаление фиброаденом </a></li>
													<li><a href="">Удаление добавочных долек молочных желёз</a></li>
													<li><a href="">Подкожная мастэктомия+реконструкция</a></li>
													<li><a href="">Радикальная мастэктомия</a></li>
													<li><a href="">Онкопластическая резекция молочной железы</a></li>
												</ul>
											</li>
											<li>
													<a href="" class="title">Тело</a>
													<ul>
														<li><a href="">Абдоминопластика</a></li>
														<li><a href="">Миниабдоминопластика</a></li>
														<li><a href="">Подтяжка рук</a></li>
														<li><a href="">Подтяжка ног</a></li>
														<li><a href="">Подтяжка тела после массивного похудения</a></li>
														<li><a href="">Липофилинг ягодиц</a></li>
														<li><a href="">Интимная пластика (Мпг)</a></li>
													</ul>
											</li>
											<li>
													<a href="" class="title">Лицо</a>
													<ul>
														<li><a href="">Верхняя блефаропластика</a></li>
														<li><a href="">Нижняя блефаропластика</a></li>
														<li><a href="">Отопластика</a></li>
														<li><a href="">Удаление комков Биша</a></li>
														<li><a href="">Липофилинг губ (носогубных складок)</a></li>
													</ul>
											</li>
											<li>
													<a href="" class="title">Липо</a>
													<ul>
														<li><a href="">VASER-липосакция</a></li>
														<li><a href="">Липосакция лица</a></li>
														<li><a href="">Липосакция бедер</a></li>
														<li><a href="">Липосакция коленей</a></li>
														<li><a href="">Липосакция рук</a></li>
														<li><a href="">Липосакция боков</a></li>
														<li><a href="">Липосакция живота</a></li>
														<li><a href="">Липосакция у мужчин</a></li>
														<li><a href="">Липосакция подбородка</a></li>
														<li><a href="">Липосакция ягодиц</a></li>
														<li><a href="">Липосакция ног</a></li>
														<li><a href="">Липосакция щек</a></li>
														<li><a href="">Липосакция галифе</a></li>
													</ul>
											</li>
										</ul>
								</div>
							</li>
							<li><a href="">Цены</a></li>
							<li><a href="">Фото работ</a></li>
						</ul>
						<ul class="nav_menu">
							<li><a href="">Акции</a></li>
							<li><span>Полезное</span>
								<div class="submenu">
									<ul class="submenu__item">
										<li><a href="">Спецпроекты</a></li>
										<li><a href="">Советы</a></li>
										<li><a href="">Истории пациентов</a></li>
										<li><a href="">Видео</a></li>
										<li><a href="">Довольные пациенты</a></li>
										<li><a href="">Блог</a></li>
										<li><a href="">Новости</a></li>
									</ul>
								</div>
							</li>
							<li><a href="">Консультации</a>
								<div class="submenu">
									<div class="submenu__item row row-f">
										<div class="text col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
											<div class="h3">Консультация онлайн</div>
											<p>Вы можете задать свой вопрос онлай и хирург в течение 3 дней ответит на него.</p>
											<div class="more"><a href="" class="arrow">Задать вопрос онлайн</a></div>
										</div>
										<div class="form col-xs-12 col-sm-6 col-md-5 col-lg-4">
												<form>
													<div class="formField">
														<input type="text" placeholder="Ваше имя*"/>
													</div>
													<div class="formField">
															<input type="text" placeholder="Номер телефона*"/>
													</div>
													<button class="btn">Перезвоните мне</button>
												</form>
										</div>
									</div>
								</div>
							</li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="shadow"></div>

			<section class="sliderTop contacts" style="background-image:url(img/contacts.jpg);">
					<div class="submenu">
							<ul class="submenu__item">
								<li class="act"><a href="">Увеличение груди</a></li>
								<li><a href="">Цены</a></li>
								<li><a href="">Акции</a></li>
								<li><a href="">Фото</a></li>
								<li><a href="">Видео</a></li>
								<li><a href="">Отзывы</a></li>
								<li><a href="">Клиника</a></li>
								<li><a href="">Консультация онлайн</a></li>
							</ul>
						</div>
						<div class="container post-down">

										<div class="text">
											<div class="h1-title">Операция</div>
											<div class="h1">Увеличение груди</div>
											<p>В ДВА ПРЕДЛОЖЕНИЯ КАКОЙ-ТО ТЕКСТ С ВИДЕО БЛА-БЛА ХИРУРГА КЛИНИКИ ВЕДРОВА ОЛЕГА ВЯЧЕСЛАВОВИЧА</p>
										</div>



						</div>
			</section>

		</header>
		<section id="body" class="container">

			<div class="content inner">
					<div class="row row-f">
							<div class="col-xs-12 col-md-6">
									<div class="title-preview">ОПЕРАЦИЯ УВЕЛИЧЕНИЯ МОЛОЧНЫХ ЖЕЛЕЗ</div>
								<h2>H2 - Увеличение грудных желез у хирурга Ведрова О. В.</h2>
								<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
								<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>
								<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.</p>

							</div>
						</div>
						<div class="descripsion row row-f">
								<div class="col-xs-12 col-md-4 descripsion__item">
									<div class="image"><img src="../../../../img/icons/ico-pay.png" alt="" /></div>
									<div class="text">
										Стоимость <i>от 50 000 руб.</i>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 descripsion__item">
									<div class="image"><img src="../../../../img/icons/ico-shot.png" alt="" /></div>
									<div class="text">
										Анастезия <i>Общий наркоз</i>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 descripsion__item">
									<div class="image"><img src="../../../../img/icons/ico-clock.png" alt="" /></div>
									<div class="text">
										Время операции <i>2 часа</i>
									</div>
								</div>
							</div>

							<div class="gallerySlider post-up">
									<div class="title-preview">ФОТО ДО/ПОСЛЕ</div>
									<div class="gallery-container">
									<div class="gallery js-slider-photo">
										<div class="slide gallery__item">
											<a href="../../../../img/rev11.jpg"><img src="../../../../img/photo6.jpg" alt=""/></a>
										</div>
										<div class="slide gallery__item">
											<a href="../../../../img/rev10.jpg"><img src="../../../../img/photo7.jpg" alt=""/></a>
										</div>
										<div class="slide gallery__item">
											<a href="../../../../img/photo4.jpg"><img src="../../../../img/photo4.jpg" alt=""/></a>
										</div>
										<div class="slide gallery__item">
											<a href="../../../../img/photo5.jpg"><img src="../../../../img/photo5.jpg" alt=""/></a>
										</div>
									</div>
								</div>
						</div>

							<div class="more">
									<a href="" class="arrow">Смотреть все работы</a>
									<span class="arrow js-open-callback-form">Бесплатная консультация</span>
								</div>

								<div class="row row-f">
										<div class="col-xs-12 col-md-6">
												<div class="title-preview">ПОКАЗАНИЯ К ПРОВЕДЕНИЯ ПРОЦЕДУРЫ</div>
											<h2>H2 - Показания к маммопластике</h2>
											<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах</p>
										</div>
										<div class="col-xs-12 col-md-6">
											<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
											<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>
											<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.</p>

										</div>
									</div>
								<blockquote class="quote">
									<div class="text">
											Цитата хирурга Ведроа про показания какие-то...какая-то общая инфа, что нужно делать, что не нужно и т.д. Напишите подробнее и тогда можно. Напишите подробнее и тогда можно. НапПрапавол ывджл фхыв фыджвл фыов лфырволфы рволфыв фырвыфдлволыф вфылд .
									</div>
									<div class="image">
											<a href=""><img src="../../../../img/doctor.jpg" alt=""/>Ведров О. В. <span>пластический хирург</span></a>
									</div>
								</blockquote>

									<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
									<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. Он использует словарь из более чем 200 латинских слов, а так   использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>


								<h4 class="info">Блок выделения - важный текст какой-то. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</h4>

								<div class="row row-f">
										<div class="col-xs-12 col-md-6">
												<div class="title-preview">ПРОТИВОПОКАЗАНИЯ К ПРОВЕДЕНИЮ ОПЕРАЦИИ</div>
											<h2>H2 - Противопоказания к маммопластике груди</h2>
											<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах</p>
										</div>
										<div class="col-xs-12 col-md-6">
											<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
											<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>
											<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.</p>
										</div>
									</div>

									<blockquote class="quote">
											<div class="text">
													Цитата хирурга Ведроа про показания какие-то...какая-то общая инфа, что нужно делать, что не нужно и т.д. по центру ставится фоточка .
											</div>
											<div class="image">
													<a href=""><img src="../../../../img/doctor.jpg" alt=""/>Ведров О. В. <span>пластический хирург</span></a>
											</div>
										</blockquote>

										<ol>
												<li><a href="">Увеличение груди</a> с помощью эндопротезов выполняют через различные доступы: разрез под грудью в субмаммарной складке, в подмышечной впадине, по периметру ареолы. Длина разреза не превышает 5 см, он располагается в естественной складке кожи, поэтому рубец после операции будет незаметным. Имплантат устанавливают под слой железистой ткани, большую грудную мышцу или фасцию. Выбор зависит от величины естественной груди пациентки.</li>
												<li>При <a href="">уменьшении груди</a> и гинекомастии хирург наносит на кожу разметку, затем через надрез убирает излишки тканей, перемещает ареолу, моделируя новую форму грудных желез. При необходимости может быть сделана коррекция соска.</li>
												<li>Подтяжка груди или мастопексия связана с удалением излишков покровных тканей над железой — ее объем и размер остается прежними, а форма улучшается за счет перераспределения тканей и перемещения соска в более высокое положение. Разрез проходит по границе ареолы и спускается вниз к складке под грудью. После мастопексии обязательно нужно носить поддерживающий бюстгальтер. Подтяжка груди с увеличением включает установку имплантатов для изменения формы и объема молочных желез.</li>
												<li>Эндоскопические операции делают через небольшой разрез в подмышечной впадине. В таких случаях послеоперационные рубцы будут наименее заметны.</li>
											</ol>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
													<ol>
															<li>Увеличение груди с помощью эндтки.</li>
															<li>При уменьшении груди и гинекомастии. </li>
															<li>Подтяжка груди или мастопексия связана желез.</li>
															<li>Эндоскопические опера. </li>
														</ol>
											</div>
											<div class="col-xs-12 col-sm-6">
													<ul>
															<li>Увеличение груди с помощью эндтки.</li>
															<li>При уменьшении груди и гинекомастии. </li>
															<li>Подтяжка груди или мастопексия связана желез.</li>
															<li>Эндоскопические опера. </li>
														</ul>
												</div>
										</div>

										<section class="infoMedia container post-up">
												<div class="row row-f reviews">
													<div class="col-xs-12 col-sm-6 reviews__text post-left">
															<div class="title-preview">Делитесь вашими фотографиями</div>
															<div class="h2">Довольные пациенты</div>
															<div class="more"><a href="" class="arrow">Больше пациентов</a></div>
													</div>
													<div class="col-xs-12 col-sm-6 reviews__gallery post-right">
														<div class="reviews__gallery__container">
																<div class="sliderGallery js-slider-gallery">
																	<div class="slide reviews__gallery__item">
																		<a href="" style="background-image: url(img/rev01.jpg);"><span class="arrow">Подробнее</span></a>
																	</div>
																	<div class="slide reviews__gallery__item">
																		<a href="" style="background-image: url(img/rev02.jpg);"><span class="arrow">Подробнее</span></a>
																	</div>
																	<div class="slide reviews__gallery__item">
																		<a href="" style="background-image: url(img/rev02.jpg);"><span class="arrow">Подробнее</span></a>
																	</div>
																	<div class="slide reviews__gallery__item">
																		<a href="" style="background-image: url(img/rev01.jpg);"><span class="arrow">Подробнее</span></a>
																	</div>
																</div>
														</div>
													</div>
												</div>
											</section>


											<div class="reviewList row row-f">
													<div class="col-xs-12 col-md-6">
														<div class="reviewList__item">
																<div class="title-preview">Отзыв</div>
																<div class="review__author">
																	Екатерина
																</div>
																<div class="reviewList__item__text">
																	<div class="text"><p>Начну с короткой предыстории. У меня всегда была маленькая грудь, но это была упругая грудь красивой формы, хоть и первого размера. Но я всегда хотела большую грудь. Хотела носить красивое бельё без поролона, декольте и прочие прелести, которые для меня были недоступны. Пластики я всегда боялась, как огня. Никак не могла найти врача, которому смогла бы довериться. Из моего окружения никто пластику не делал. Поэтому мои поиски врача ограничивались лишь только поиском врача в интернете, чтением отзывов, мыслями о том, что отзывы куплены и на этом всё заканчотзывы отзывы отзывы отзывы отзывы ивалось.</p></div>
																	<div class="review__photos">
																			<div class="review__photos__item"><img src="../../../../img/rev01.jpg" alt=""/></div>
																			<div class="review__photos__item"><img src="../../../../img/rev02.jpg" alt=""/></div>
																			<div class="review__photos__item"><img src="../../../../img/rev03.jpg" alt=""/></div>
																	</div>
																</div>
																<div class="readmore"><a href="" class="arrow">Подробнее</a></div>
														</div>
													</div>
													<div class="col-xs-12 col-md-6">
															<div class="reviewList__item">
																	<div class="title-preview">Отзыв</div>
																	<div class="review__author">
																		Анастасия, 35 лет
																	</div>
																	<div class="reviewList__item__text">
																		<div class="text"><p>Начну с короткой предыстории. У меня всегда была маленькая грудь, но это была упругая грудь красивой формы, хоть и первого размера. Но я всегда хотела большую грудь. Хотела носить красивое бельё без поролона, декольте и прочие прелести, которые для меня были недоступны. Пластики я всегда боялась, как огня. Никак не могла найти врача, которому смогла бы довериться. Из моего окружения никто пластику не делал. Поэтому мои поиски врача ограничивались лишь только поиском врача в интернете, чтением отзывов, мыслями о том, что отзывы куплены и на этом всё заканчотзывы отзывы отзывы отзывы отзывы ивалосьчтением отзывов, мыслями о том, что отзывы куплены и на этом всё заканчотзывы отзывы отзывы отзывы отзывы ивалось..</p></div>
																	</div>
																	<div class="review__source">
																		<a href=""><img src="../../../../img/kleo.png" alt=""/></a>
																	</div>
																	<div class="readmore"><a href="" class="arrow">Подробнее</a></div>
															</div>
														</div>
												</div>
												<div class="more">
														<a href="" class="arrow">Смотреть все отзывы</a>
														<span class="arrow js-open-callback-form">Бесплатная консультация</span>
													</div>

													<div class="text">
															<div class="video">
																	<div class="video__item">
																			<div class="video__item__text">
																					<div class="title-preview">Видео с хирургом</div>
																					<div class="h2">Ведров О. В. о частых вопросах
																							по теме #секс после увеличения груди</div>
																			</div>
																			<div class="link">
																					<div class="title-preview">Видео с хирургом</div>
																					<div class="h2">Ведров О. В. о частых вопросах
																							по теме #секс после увеличения груди</div>
																				<img src="../../../../img/video1.jpg" alt=""/>
																				<a data-mfp-src="https://www.youtube.com/watch?v=ru0K8uYEZWw" class="video-ico js-video-popup"></a>
																				</div>
																	</div>
																	<p>Рассказываем, когда, как и через сколько времени после операции можно заниматься сексом после операции увеличения груди</p>
															</div>
																<div class="title-preview">ПРОТИВОПОКАЗАНИЯ К ПРОВЕДЕНИЮ ОПЕРАЦИИ</div>
																<h2>H2 - Противопоказания к маммопластике груди</h2>
																<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах</p>



																<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
																<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>
																<p>Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.</p>

														</div>
														<h4><a href="" class="doc"></a>Блок выделения - важный текст какой-то. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</h4>
														<div class="row row-f">
															<div class="col-xs-12 col-sm-6">
																<p><a href="" class="doc"></a>Блок выделения - важный текст какой-то. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. чем 200 латинских слов, а также набор моделей предложений.</p>
															</div>
															<div class="col-xs-12 col-sm-6">
																	<p><a href="" class="doc"></a>Блок выделения - важный текст какой-то. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. </p>
															</div>
														</div>

											<div class="consult">
														<div class="row row-f">
																<div class="col-xs-12 col-md-6">
																		<div class="title-preview">КОНСУЛЬТАЦИИ ОНЛАЙН ПРИ УВЕЛИЧЕНИИ ГРУДИ</div>
																	<h2>H2 - Какой-то текст заголовок</h2>
																	<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах</p>
																</div>
																<div class="col-xs-12 col-md-6">
																	<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
																	<p>Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.</p>
																	<div class="tags">
																					Часто задаваемые вопросы для вашего удобства разбиты по тегам:
																					<a href="">#секс</a><a href="">#спорт</a><a href="">#фитнес</a><a href="">#загар</a>
																					<a href="">#пляж</a><a href="">#шрамы</a><a href="">#боли</a><a href="">#беременность</a>
																					<a href="">#шрамы</a><a href="">#боли</a><a href="">#беременность</a><a href="">#шрамы</a>
																					<a href="">#боли</a><a href="">#беременность</a><a href="">#шрамы</a><a href="">#боли</a><a href="">#беременность</a>
																</div>
															</div>
														</div>
											<div class="consultList">
													<div class="title-preview">КОНСУЛЬТАЦИИ  ХИРУРГА</div>
													<div class="sliderConsult js-slider-consult">
															<div class="consultList__item slide">
																	<div class="title-preview"><a href="">ВОПРОС №115491<span>/</span>ДМИТРИЙ (11 января 2019 г.)</a></div>
																	<div class="question">
																		<a href="" class="ico-faq"></a>
																		<p>Здравствуйте, Сарвар Казимович. 4 месяца назад одномоментно была сделана маммопластика и лабиопластика,обе операции принесли только разочарование.Импланты установлени не симметрично(один смещён почти на 2 см ниже и вправо),груди разные по форме.При лабиопластики подрезаны малые половые губы очень сильно,капюшон клитора смотрится просто угрожающе на фоне моих половых губ.Скажите пожалуйста,через сколько можно провести повторную операцию по маммопластике,и возможно ли имплантаты оставить прежние,размер меня устраивает(круглые,365 мл аллерган).Возможна коррекция капюшона,и не скажется ли это на чувствительности в дальнейшем?.Спасибо.</p>
																	</div>
																	<div class="answer">
																			<p>Здравствуйте, Анастасия! Технически установить фаллопротез можно, причем любой модификации. По какой причине и на какой срок у Вас установлена эпицистостома? Это важный вопрос. Также важно сохранена ли чувствительность головки полового члена и кровоток в нем. Напишите подробнее и тогда можно.<br/>
																			С уважением, Ведров Олег Вячеславович.</p>
																			<div class="author">
																				<div class="image"><a href=""><img src="../../../../img/faq-image.jpg" alt=""/></a></div>
																				<div class="title"><a href="">Ведров О. В. <span>пластический хирург</span></a></div>
																			</div>
																	</div>
																	<div class="consult-tags">
																		<span>Теги:</span><a href="">#пляж</a><a href="">#шрамы</a><a href="">#боли</a><a href="">#беременность</a>
																	</div>
																</div>
																<div class="consultList__item slide">
																		<div class="title-preview"><a href="">ВОПРОС №13791<span>/</span>АНАСТАСИЯ МУРМАНСК (21 февраля 2019 г.)</a></div>
																		<div class="question">
																				<a href="" class="ico-faq"></a>
																			<p>Здравствуйте хотела бы сделать безоперационное рино, буду в Москве в конце марта. Можно ли проконсультировать меня по фото, рассчитать и записать?</p>
																		</div>
																		<div class="answer">
																				<p>Здравствуйте, Анастасия! Технически установить фаллопротез можно, причем любой модификации. По какой причине и на какой срок у Вас установлена эпицистостома? Это важный вопрос. Также важно сохранена ли чувствительность головки полового члена и кровоток в нем. Напишите подробнее и тогда можно.<br/>
																				С уважением, Ведров Олег Вячеславович.</p>
																				<div class="author">
																					<div class="image"><a href=""><img src="../../../../img/doctor.jpg" alt=""/></a></div>
																					<div class="title"><a href="">Ведров О. В. <span>пластический хирург</span></a></div>
																				</div>
																		</div>
																		<div class="consult-tags">
																				<span>Теги:</span><a href="">#секс</a><a href="">#спорт</a><a href="">#фитнес</a>
																		</div>
																	</div>
																	<div class="consultList__item slide">
																			<div class="title-preview"><a href="">ВОПРОС №115491<span>/</span>ДМИТРИЙ (11 января 2019 г.)</a></div>
																			<div class="question">
																				<a href="" class="ico-faq"></a>
																				<p>Здравствуйте, Сарвар Казимович. 4 месяца назад одномоментно была сделана маммопластика и лабиопластика,обе операции принесли только разочарование.Импланты установлени не симметрично(один смещён почти на 2 см ниже и вправо),груди разные по форме.При лабиопластики подрезаны малые половые губы очень сильно,капюшон клитора смотрится просто угрожающе на фоне моих половых губ.Скажите пожалуйста,через сколько можно провести повторную операцию по маммопластике,и возможно ли имплантаты оставить прежние,размер меня устраивает(круглые,365 мл аллерган).Возможна коррекция капюшона,и не скажется ли это на чувствительности в дальнейшем?.Спасибо.</p>
																			</div>
																			<div class="answer">
																					<p>Здравствуйте, Анастасия! Технически установить фаллопротез можно, причем любой модификации. По какой причине и на какой срок у Вас установлена эпицистостома? Это важный вопрос. Также важно сохранена ли чувствительность головки полового члена и кровоток в нем. Напишите подробнее и тогда можно.<br/>
																					С уважением, Ведров Олег Вячеславович.</p>
																					<div class="author">
																						<div class="image"><a href=""><img src="../../../../img/faq-image.jpg" alt=""/></a></div>
																						<div class="title"><a href="">Ведров О. В. <span>пластический хирург</span></a></div>
																					</div>
																			</div>
																			<div class="consult-tags">
																				<span>Теги:</span><a href="">#пляж</a><a href="">#шрамы</a><a href="">#боли</a><a href="">#беременность</a>
																			</div>
																	</div>
													</div>
										</div>
									</div>
									<div class="line"></div>


			</div>
			<div id="callbackForm">
					<div class="close fright js-close-callback-form "></div>
					<div class="form">
							<div class="h1-title">Консультация</div>
							<div class="h1">Бесплатная консультация</div>
							<p>Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах.</p>
							<form>
								<div class="row">
										<div class="formField col-xs-12 col-sm-6">
												<input type="text" placeholder="Ваше имя*"/>
											</div>
											<div class="formField col-xs-12 col-sm-6">
													<input type="text" placeholder="Номер телефона*"/>
											</div>
											<div class="formField col-xs-12">
													<textarea placeholder="Комментарий"></textarea>
											</div>
											<div class="formbutton col-xs-12">
											<button class="btn">Отправить</button>
											</div>
								</div>
							</form>
							<div class="after-text">Спасибо за обращение!<br/>Мы скоро свяжемся с вами.</div>

					</div>
				</div>
				<div class="shadow"></div>
		</section>





	<section class="consultation container post-up">
			<div class="title-preview">Консультация у хирурга</div>
			<div class="row row-f">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text">
						<div class="h2">Задайте свой вопрос онлайн или запишитесь на бесплатную консультацию</div>
						<div class="more"><a href="" class="arrow">Задать вопрос онлайн</a></div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 form">
						<form>
							<div class="formField">
								<input type="text" placeholder="Ваше имя*"/>
							</div>
							<div class="formField">
									<input type="text" placeholder="Номер телефона*"/>
							</div>
							<button class="btn">Перезвоните мне</button>
						</form>
				</div>
			</div>

	</section>
<div class="mobile-bar">
	<a href="tel:+74951234567" class="mobile-bar__item" title="Позвонить в клинику">
			<img src="../../../../img/svg/foot-phone.svg" width="20" height="20" alt=""/>
		Позвонить
	</a>
	<a href="/" class="mobile-bar__item" title="Специальные предложения">
			<img src="../../../../img/svg/percent.svg" width="20" height="20" alt=""/>
		Акции
	</a>
	<a href="whatsapp://send?phone=+74951234567" class="mobile-bar__item" title="Написать в WhatsApp">
		<img src="../../../../img/svg/whatsup.svg" width="20" height="20" alt=""/>
			WhatsApp
	</a>
	<a href="viber://chat?number=74951234567" class="mobile-bar__item" title="Написать в Viber">
		<img src="../../../../img/svg/viber.svg" width="20" height="20" alt=""/>
		Viber
</a>
</div>

		<footer class="footer post-up">
			<div class="container">
				<div class="footer__logos">
					<div class="h3">Отзывы о хирурге в интернете</div>
					<div class="sliderLogos js-slider-logos str_wrap">
						<a href=""><img src="../../../../img/logos/logo01.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo02.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo03.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo04.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo05.png" alt=""/></a>
						<a href=""><img src="../../../../img/logos/logo06.png" alt=""/></a>
				</div>
			</div>
				<div class="footer__contacts row row-f">
					<div class="footer__contacts__item col-xs-12 col-sm-6">
							<div class="ico ico-phone"></div>
							<div class="footer__contacts__item__text">
								<span class="title">Телефон</span>
								<a href="tel:+74951234567">+7 (495) 123-45-67</a>
							</div>
					</div>
					<div class="footer__contacts__item col-xs-12 col-sm-6">
							<div class="ico ico-mail"></div>
							<div class="footer__contacts__item__text">
								<span class="title">Почта</span>
								<a href="mailto:info@dr-vedrov.ru">info@dr-vedrov.ru</a>
							</div>
					</div>
				</div>
				<div class="row footer__menu">
					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Грудь
						</div>
						<ul>
							<li><a href="">Увеличение груди</a></li>
							<li><a href="">Уменьшение груди</a></li>
							<li><a href="">Подтяжка груди</a></li>
							<li><a href="">Липофилинг груди </a></li>
							<li><a href="">Реконструкция груди</a></li>
							<li><a href="">Коррекция сосков</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Тело
						</div>
						<ul>
							<li><a href="">Абдоминопластика</a></li>
							<li><a href="">Миниабдоминопластика</a></li>
							<li><a href="">Подтяжка рук </a></li>
							<li><a href="">Подтяжка ног</a></li>
							<li><a href="">Подтяжка тела после массивного похудения </a></li>
							<li><a href="">Липофилинг ягодиц</a></li>
							<li><a href="">Интимная пластика (Мпг)</a></li>
						</ul>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Лицо
						</div>
						<ul>
							<li><a href="">Верхняя блефаропластика</a></li>
							<li><a href="">Нижняя блефаропластика</a></li>
							<li><a href="">Отопластика</a></li>
							<li><a href="">Удаление комков Биша</a></li>
							<li><a href="">Липофилинг губ (носогубных складок)</a></li>
						</ul>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="footer__title">
							Липо
						</div>
						<ul>
							<li><a href="">VASER-липосакция</a></li>
							<li><a href="">Липосакция лица</a></li>
							<li><a href="">Липосакция бедер</a></li>
							<li><a href="">Липосакция коленей</a></li>
							<li><a href="">Липосакция рук</a></li>
							<li><a href="">Липосакция боков</a></li>
							<li><a href="">Липосакция живота</a></li>
							<li><a href="">Липосакция у мужчин</a></li>
							<li><a href="">Липосакция подбородка</a></li>
							<li><a href="">Липосакция ягодиц</a></li>
							<li><a href="">Липосакция ног</a></li>
							<li><a href="">Липосакция щек</a></li>
							<li><a href="">Липосакция галифе</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-9">
							<ul class="menu">
									<li><a href="">О докторе</a></li>
									<li><a href="">Цены</a></li>
									<li><a href="">Фото работ</a></li>
									<li><a href="">Акции</a></li>
									<li><a href="">Полезное</a></li>
									<li><a href="">Консультации</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
					</div>
					<div class="col-xs-12 col-md-3">
						<div class="social">
							<a href=""><img src="../../../../img/svg/yb.svg#white" width="30" height="30px" alt=""/></a>
							<a href=""><img src="../../../../img/svg/vk.svg#white" width="30" height="30px" alt=""/></a>
							<a href=""><img src="../../../../img/svg/instagram.svg#white" width="30" height="30px" alt=""/></a>
						</div>
					</div>

				</div>




				<div class="row row-f footer__bottom">
						<div class="col-xs-12 col-sm-5 col-md-5 copyright">
							<p>Официальный сайт пластического хирурга <br/>Ведрова Олега Вячеславовича © 2019</p>
						</div>
						<div class="col-xs-3 col-sm-2 col-md-2 logo">
							<a href=""><img src="../../../../img/logo-wht.png" alt=""/></a>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-3 col-md-offset-2 links">
							<ul>
								<li><a href="">Лицензия</a></li>
								<li><a href="">Карта сайта</a></li>
							</ul>
						</div>
					</div>
			</div>
		</footer>
		<div id="toTop"></div>
	</div>
	<div id="text" class="mfp-text mfp-hide">
			<div class="title-preview">Согласие на обработку персональных данных</div>
			<p> Предоставляя свои персональные данные Пользователь даёт согласие   на обработку, хранение и использование своих персональных данных   на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях: </p>
			<ul>
				<li>Осуществление клиентской поддержки</li>
				<li>Получения Пользователем информации о маркетинговых событиях</li>
				<li>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</li>
			</ul>
			<p> Под персональными данными подразумевается любая информация личного   характера, позволяющая установить личность Пользователя/Покупателя такая   как: </p>
			<ul>
				<li>Фамилия, Имя, Отчество</li>
				<li>Дата рождения</li>
				<li>Контактный телефон</li>
				<li>Адрес электронной почты</li>
				<li>Почтовый адрес</li>
			</ul>
			<p> Персональные данные Пользователей хранятся исключительно   на электронных носителях и обрабатываются с использованием   автоматизированных систем, за исключением случаев, когда   неавтоматизированная обработка персональных данных необходима в связи   с исполнением требований законодательства. </p>
			<p> Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев: </p>
			<ul>
				<li>По запросам уполномоченных органов государственной власти РФ   только по основаниям и в порядке, установленным законодательством РФ</li>
				<li>Стратегическим партнерам, которые работают с Компанией для   предоставления продуктов и услуг, или тем из них, которые помогают   Компании реализовывать продукты и услуги потребителям. Мы предоставляем   третьим лицам минимальный объем персональных данных, необходимый только   для оказания требуемой услуги или проведения необходимой транзакции.</li>
			</ul>
			<p> Компания оставляет за собой право вносить изменения в одностороннем   порядке в настоящие правила, при условии, что изменения не противоречат   действующему законодательству РФ. Изменения условий настоящих правил   вступают в силу после их публикации на Сайте. </p>
		</div>
	<script src="../assets/js/_bundle.js"></script>

</body>

</html>